body{
  background-color: #293529;
  color: lightgray;
}
.navbar{
  border-radius:0;
}
footer{
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color: #101010;
  text-align: center;
}
