#map_modal .modal-dialog{
  margin:5px;
  width: auto;
  height: 98%;
}
#map_modal .modal-content{
  position:relative;
  width: 100%;
  height: 100%;
}

#map_modal .modal-body{
  width: 100%;
  height: 90%;
  padding:0px;
}
#map_modal .modal-footer{
  padding-right: 40px;
}


#mapContainer{
  width: 100%;
  height: 100%;
  padding:2px;
}

.se-pre-con{
  width:100%;
  height:100%;
  background:url("/static/img/loader/Preloader_1.b33b44c1dde3.gif") no-repeat center;
  display: block;
  z-index:100;
}


#addLocationBtn{
	position: absolute;
	z-index:10;
	bottom:40px;
	left:28px;
	padding:12px;
	border-radius:50%;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	user-select:none;
	outline:none;
  visibility: hidden;
}
#currentLocationBtn{
	position: absolute;
	z-index:10;
	bottom:120px;
	left:28px;
	padding:12px;
	border-radius:50%;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	user-select:none;
	outline:none;
  visibility: hidden;
}

.glyphicon{
	font-size:3rem;
  text-shadow: -2px 1px rgba(0,0,0,0.5);
}

.contact{
  margin:90px 0;
}
