#weatherBtn{
  color: white;
  background-color: #316c89;
  float: none;margin: 0 0 10px;
  text-align: center;
  border: none;
  font-weight: 400;
  -webkit-appearance: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

#weatherBtn:hover{
  background-color: #205067;
}
.field-weather_map .readonly{
  width:100%;
}
