<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> GeoLocator </title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/entry.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:#293529">
    <div class="container">
      <form class="contact" action="{% url 'show_info' %}" method="post">
        {% csrf_token %}
        <h3>Contact Info</h3>
        <h4>Phone No:</h4>
        <fieldset>
          <input placeholder="Phone Number" name="phone_no" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" class="special-btn" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
    {% if messages %}
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          {% for message in messages %}
          <div class="modal-content messages alert {{ message.tags }} alert-dismissible" role="alert">
              <div class="modal-body">
                <span style="clear:right">
                  {{ message }}
                </span>
                <span style="float:right;">
                  <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                </span>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <script>
      $(window).on('load',function(){
        $('#myModal').modal('show');
      });
    </script>
  </body>
</html>
