<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> GeoLocator </title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/entry.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body style="background-color:#293529">
    <form class="data-form" action="{% url 'locate' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="contact">
          <h3>Farmer Info -</h3>
          <p><span>Name:</span><span>{{ name }}</span></p>
          <p><span>Phone No:</span><span>{{ phone_no }}</span></p>
          <p><span>Address:</span><span>{{ address }}</span></p>
          {% if plots%}
            <h3>Existing Plots -</h3>
            <p><span>{% for plot in plots %}<b>{{ forloop.counter }}.</b> {{ plot }}<br/>{% empty %}{% endfor %}</span></p>
          {% endif %}
          <h3>Add a new plot -</h3>
          <fieldset>
            <input type="hidden" name="phone_no" value="{{ phone_no }}" id="phone_no" required>
            <input placeholder="Plot Name" name="plot_name" value="" type="text" tabindex="1" required>
            <input type="hidden" name="coord" value="" id="coord_json">
            <button name="modal_toggle" type="button" id="contact-submit"  class="special-btn" data-submit="...Sending">Click to open map</button>
            <p align="center" style="margin:auto;font-size:1.2rem">(Turn on GPS for high accuracy.)</p>
          </fieldset>
        </div>
      </div>

      <div id="map_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div id="mapContainer">
                <div class="se-pre-con"></div>
                <button type="button" class="btn btn-success" id="addLocationBtn">&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
                <button type="button" class="btn btn-success" id="currentLocationBtn">&nbsp;<span class="glyphicon glyphicon-map-marker"></span>&nbsp;</button>
              </div>
            </div>
            <div class="modal-footer">
              <button name="submit" type="submit" class="btn btn-success" data-submit="...Sending" >Submit</button>
              <button type="button" class="btn btn-default" data-submit="Cancel" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% if messages %}
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          {% for message in messages %}
          <div class="modal-content messages alert {{ message.tags }} alert-dismissible" role="alert">
              <div class="modal-body">
                <span style="clear:right">
                  {{ message }}
                </span>
                <span style="float:right;">
                  <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                </span>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/info.js' %}" charset="utf-8"></script>
  </body>
</html>
