{% extends "app/base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Animate.css -->
  <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Arch Login</h1>
            <div>
              <input type="text" class="form-control"  id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"  placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name}}"  placeholder="Password" required="" />
            </div>
            <div>
            <div>
              <input type="submit" class="btn btn-default submit" href="index.html" value="Log in"/>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-desktop"></i> Arch Dashboard</h1>
                <p>Made with <i class="fa fa-heart" style="color:red;"></i> by Precision Team</p>
              </div>
            </div>
          </form>
        </section>
      </div>

      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div>
              <input type="text" class="form-control"  id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value }}" placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name}}"  placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" href="index.html">Submit</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}
