{% extends "app/base_site.html" %}

{% block title %} Dashboard 3 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
  <div class="">
    <div class="row top_tiles" style="margin: 10px 0;">
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <span>Total Farmers</span>
        <h2>{{ farmers_count }}</h2>
        <span class="sparkline_one" style="height: 160px;">
              <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <span>Total Farmfields</span>
        <h2>{{ plots_count }}</h2>
        <span class="sparkline_one" style="height: 160px;">
              <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <span>Total Active Schedules</span>
        <h2>{{ schedule_count }}</h2>
        <span class="sparkline_one" style="height: 160px;">
              <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <span>Total Crops</span>
        <h2>{{ crop_count }}</h2>
        <span class="sparkline_one" style="height: 160px;">
              <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
      </div>
    </div>

    <br />


    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <h2><a href="{% url 'farmers_table' %}"> Farmers <small>Total {{ farmers_count }}</small></a></h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>States</h4>
            {% for data in state_farmers_count %}
            <div class="widget_summary">
              <div class="w_left" style="width:30%">
                <span>{{ data.state }}</span>
              </div>
              <div class="w_center" style="width:55%">
                <div class="progress">
                  {% widthratio data.total 1 100  as num %} {% widthratio num farmers_count 1  as percent %}
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                    <span class="sr-only">{{ percent }}% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right" style="width:15%">
                <span>{{ data.total }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <a href="{% url 'plots_table' %}"><h2>Farm Fields <small>Total {{ plots_count }}</small></h2></a>
            <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>States</h4>
            {% for data in state_plots_count %}
            <div class="widget_summary">
              <div class="w_left" style="width:30%">
                <span>{{ data.farmer__state }}</span>
              </div>
              <div class="w_center" style="width:55%">
                <div class="progress">
                  {% widthratio data.total 1 100  as num %} {% widthratio num plots_count 1  as percent %}
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                    <span class="sr-only">{{ percent }}% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right" style="width:15%;">
                <span>{{ data.total }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          <div class="x_title">
            <a href="{% url 'schedules_table' %}"><h2>Active Schedules <small>Total {{ schedule_count }}</small></h2></a>
            <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Crops</h4>
            {% for data in crop_schedule_count %}
            <div class="widget_summary">
              <div class="w_left" style="width:30%">
                <span>{{ data.crop__name }}</span>
              </div>
              <div class="w_center" style="width:55%">
                <div class="progress">
                  {% widthratio data.total 1 100  as num %} {% widthratio num schedule_count 1  as percent %}
                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
                    <span class="sr-only">{{ percent }}% Complete</span>
                  </div>
                </div>
              </div>
              <div class="w_right" style="width:15%;">
                <span>{{ data.total }}</span>
              </div>
              <div class="clearfix"></div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

{% endblock javascripts %}
