<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'table/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- JQVMap -->
  <link href="{% static 'vendors/jqvmap/jqvmap.min.css' %}" rel="stylesheet"/>

</head>
<body>
  <div class="row" style="margin-bottom:50px;">
    {% for m in map %}
      <canvas class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="barCanvas{{ forloop.counter }}" style="width:100%;"></canvas>
    {% endfor %}
  </div>

  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendors/Chart.js/Chart.bundle.min.js'%}"></script>
  <script type="text/javascript">

    window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };

    window.weekArray = [ {% for date in week %} '{{ date }}', {% endfor %}];

    var barChartDataList = [];
    var colors = [ window.chartColors.blue, window.chartColors.red, window.chartColors.orange, window.chartColors.yellow, window.chartColors.green, window.chartColors.purple];
    {% for p in prediction %}
      barChartDataList.push({
        labels: window.weekArray,
        datasets: [{
          label: '{{ p.0 }}',
          backgroundColor: colors[{{ forloop.counter }}],
          data: {{ p.1 }}
        }]
      });
    {% endfor %}


    window.onload = function(){
      var ctxList = []
      window.myBarList = []
      for(var i=1; i<=barChartDataList.length; i++){
        ctxList[i] = document.getElementById('barCanvas' + i).getContext('2d');
        window.myBarList[i] = new Chart(ctxList[i], {
          type: 'bar',
          data: barChartDataList[i-1],
          options: {
            title: {
              display: true,
              text: 'Disease Probability'
            },
            tooltips: {
              mode: 'index',
              intersect: false
            },
            responsive: true,
            aspectRatio: 1,
            maintainaspectRatio: true,
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                ticks: {
                  suggestedMax: 1
                },
                stacked: true
              }]
            }
          }
        });
      }
}
  </script>
</body>
</html>
