{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3><a href="{% url 'farmers_table' %}"> <i class="fa fa-chevron-left"></i> Farmers </a> </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>User Info</h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="/static/images/indian_farmer.jpg" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <h3>
                  {{ farmer.firstName }}
                  {% if farmer.middleName %}
                    {{ farmer.middleName }}
                  {% endif %}
                  {{ farmer.lastName }}
                </h3>

                <ul class="list-unstyled user_data">
                  <li><i class="fa fa-map-marker user-profile-icon"></i> {{ farmer.village }}, {{ farmer.taluka }}, {{ farmer.district }}, {{ farmer.state }}
                  </li>

                  <li>
                    <i class="fa fa-phone user-profile-icon"></i> {{ farmer.mobile1 }}
                  </li>

                </ul>

              </div>

              <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-md-12">
                    <h2>Farm Fields</h2>
                  </div>
                </div>

                <div class="row">
                  {% for plot in plots %}
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile">
                      <div class="x_title">
                        <h2>{{ plot.plot_name }}</h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <a href="{% url 'plot' plot.id %}">
                        <div class="x_content">
                          <h4>Field Information</h4>
                          <div class="widget_summary">
                            <div class="w_left w_55" style="font-size:14px;">
                              <span>Plot Name</span>
                            </div>
                            <div class="w_center w_55" style="font-size:14px;">
                              {{ plot.plot_name }}
                            </div>
                            <div class="clearfix"></div>
                          </div>

                          <div class="widget_summary">
                            <div class="w_left w_55" style="font-size:14px;">
                              <span>Created</span>
                            </div>
                            <div class="w_center w_55" style="font-size:14px;">
                              {{ plot.created| date:"d M, Y" }}
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="widget_summary">
                            <div class="w_left w_55" style="font-size:14px;">
                              <span>Schedule</span>
                            </div>
                            <div class="w_center w_55" style="font-size:14px;">
                              No
                            </div>
                            <div class="clearfix"></div>
                          </div>

                        </div>
                      </a>
                    </div>
                  </div>

                  {% endfor %}

                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-md-12">
                    <h2>Active Schedules</h2>
                  </div>
                </div>

                <div class="row">
                  {% for schedule in schedules %}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel tile">
                        <div class="x_title">
                          <h2>{{ schedule.crop.name }}</h2>
                          <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <a href="{% url 'schedule' schedule.plot.id %}">
                          <div class="x_content">
                            <div class="widget_summary">
                              <div class="w_left w_55" style="font-size:14px;">
                                <span>Plot Name</span>
                              </div>
                              <div class="w_center w_55" style="font-size:14px;">
                                {{ schedule.plot.plot_name }}
                              </div>
                              <div class="clearfix"></div>
                            </div>

                            <div class="widget_summary">
                              <div class="w_left w_55" style="font-size:14px;">
                                <span>Crop</span>
                              </div>
                              <div class="w_center w_55" style="font-size:14px;">
                                {{ schedule.crop.name }}
                              </div>
                              <div class="clearfix"></div>
                            </div>

                            <div class="widget_summary">
                              <div class="w_left w_55" style="font-size:14px;">
                                <span>Date of Sowing</span>
                              </div>
                              <div class="w_center w_55" style="font-size:14px;">
                                {{ schedule.sdate|date:"d M, Y" }}
                              </div>
                              <div class="clearfix"></div>
                            </div>

                            <div class="widget_summary">
                              <div class="w_left w_55" style="font-size:14px;">
                                <span>Created</span>
                              </div>
                              <div class="w_center w_55" style="font-size:14px;">
                                {{ schedule.created| date:"d M, Y" }}
                              </div>
                              <div class="clearfix"></div>
                            </div>

                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
