<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'table/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- JQVMap -->
  <link href="{% static 'vendors/jqvmap/jqvmap.min.css' %}" rel="stylesheet"/>

  <style>
    .ylabel{
      display: none;
    }
    .xlabel{
     text-align:center;
     display: none;
   }
   .legend{
     margin-left:20px;
   }
  </style>
</head>
<body>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="ylabel">Irrigation Recommended (mm per day)</div>
      <div style="width:100vw;height:80vh;">
        <canvas id="canvas2"></canvas>
      </div>
      <div class="xlabel"> Days after sowing</div>
      <div class="legend" id="legend2"></div>
    </div>
  </div>

  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'vendors/Chart_scatter/Chart.Core.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/Chart_scatter/Chart.Scatter.js' %}"></script>
  <script type="text/javascript">

    var irrigation_config = [{
          label: "Raw Prediction",
          strokeColor: '#F16220',
          data: [
            {% for data in R_Irri %}
              { x: {{data.0}},
                y: {{ data.1}}
              },
            {% endfor %}
          ],
        },{
          label: "Smoothened Schematic",
          strokeColor: '#007ACC',
          data: [
            {% for data in R_Irri_wweather %}
              { x: {{data.0}},
                y: {{ data.1}}
              },
            {% endfor %}
          ],
        }];


    window.onload = function(){
      var ctx2 = document.getElementById('canvas2').getContext('2d');
      var chart2 = new Chart(ctx2).Scatter(irrigation_config, {
        bezierCurve: true,
				showTooltips: true,
				scaleShowHorizontalLines: true,
				scaleShowLabels: true,
        scaleType:"number",
        xScaleOverride: true,
        xScaleSteps: 25,
        xScaleStepWidth: 5,
        xScaleStartValue: 0,
        scaleOverride: true,
        scaleSteps: 5,
        scaleStepWidth: 2,
        scaleStartValue: 0,
        pointDot: false,
        tooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=argLabel%>; <%=Math.round(valueLabel*1000)/1000 %>",
        multiTooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=Math.round(argLabel) %>; <%=Math.round(valueLabel*1000)/1000 %>",
        legendTemplate: "<div class=\"row\"><div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><span style=\"padding-left:6px;padding-right:6px;background-color:#F16220 \"></span>&nbsp;&nbsp; Raw Prediction</div><div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><span style=\"padding-left:6px;padding-right:6px;background-color:#007ACC \"></span>&nbsp;&nbsp; Smoothened Schematic</div></div>"
			});
      document.getElementById("legend2").innerHTML = chart2.generateLegend();
      $('.xlabel').toggle();
      $('.ylabel').toggle();
    }
  </script>
</body>
</html>
