{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css">
  <link rel="stylesheet" href="{% static 'css/plot.css' %}">
  <style>
    #ndvi_image{
      z-index:990;
      image-rendering: pixelated;             /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;          /* Firefox                        */
      image-rendering: -o-crisp-edges;            /* Opera                          */
      image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
      image-rendering: pixelated; /* Chrome */
      image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  }
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>
            <a href="{% url 'plots_table' %}">
              <i class="fa fa-chevron-left"></i> Plots
            </a>
          </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right" style="margin-right:0px;padding-right:0px;">
              <a type="button" class="btn btn-success" style="float:right;margin-bottom:10px;" href="{% url 'schedule' plot.id %}">{% if schedule %}Show schedule{% else %}Add schedule{% endif %}</a>
          </div>
        </div>
      </div>
    </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>
                <a href="{% url 'farmer' plot.farmer.cid %}">
                {{ plot.farmer.firstName }}
                {% if plot.farmer.middleName %}
                    {{ plot.farmer.middleName }}
                {% endif %}
                {{ plot.farmer.lastName }}
                </a>
              </h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="col-xs-12">

                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-sm-12">
                    <h2>Geo-Farm</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12" id="map_container" style="height:350px; margin-bottom:30px;">
                  </div>
                </div>
                <div class="row">
                  Area: {{ plot.areaAc }} Acre / {{ plot.areaHa }} Ha
                  <br/>
                  {% load formatter %}
                  Latitude: {{ lastLat|latLngFormatter }}<br/> Longitude: {{ lastLng|latLngFormatter }}
                  <button class="btn btn-success pull-right" style="float:right;margin-bottom:10px;" id="ndvi_image_toggle">Show NDVI Image</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-md-12">
                    <h2>Soil Data</h2>
                  </div>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Soil Data</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="">
                      <div class="row">
                        <p><b>Help:</b> Upload a soil testing report. Make sure that the uploaded file's format is similar to the sample file.</p>
                        <div class="x_title">
                          <a class="btn btn-success" href="{% static 'Sample_Soil_Data.xlsx' %}">Download Sample File </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>

                      <div class="row">
                        <form id="demo-form2"  method="post" action="{% url 'soil_report' plot.id %}" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="datafile" class="btn btn-primary" style="display:inline-block;cursor:pointer;margin-bottom:10px;">
                                  Upload an excel file
                                </label>
                                <span name="filename"></span>
                                <input id="datafile" type="file" class="btn btn-success" name="datafile" style="opacity:0; position:absolute;z-index:-1" required>

                              </div>
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <iframe src="/weather?lat={{ lastLat }}&lng={{ lastLng }}" width="100%"  frameborder="0" scrolling="no" onload="resizeIframe(this)" style="margin-bottom:10px;"></iframe>
                <!-- end of weather widget -->
              </div>
              <div class="col-xs-12">
                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-md-12">
                    <h2>Soil Data</h2>
                  </div>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Soil Data</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Organic Carbon</h4>
                        {% if plot.Organic_Carbon %}
                          <h5><b> {{ plot.Organic_Carbon }}</b> <small>%</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">pH</h4>
                        {% if plot.pH %}
                          <h5><b> {{ plot.pH }}</b></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Electrical Conductivity</h4>
                        {% if plot.Electrical_Conductivity %}
                          <h5><b> {{ plot.Electrical_Conductivity }}</b> <small>mS/cm</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Sodium (Na)</h4>
                        {% if plot.Sodium %}
                          <h5><b> {{ plot.Sodium }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Nitrogen (N)</h4>
                        {% if plot.Nitrogen %}
                          <h5><b> {{ plot.Nitrogen }}</b> <small>kg/ha</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Phosphorus (P)</h4>
                        {% if plot.Phosphorus %}
                          <h5><b> {{ plot.Phosphorus }}</b> <small>kg/ha</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Potassium (K)</h4>
                        {% if plot.Potassium %}
                          <h5><b> {{ plot.Potassium }}</b> <small>kg/ha</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Calcium (Ca)</h4>
                        {% if plot.Calcium %}
                          <h5><b> {{ plot.Calcium }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Magnesium (Mg)</h4>
                        {% if plot.Magnesium %}
                          <h5><b> {{ plot.Magnesium }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Sulphur (S)</h4>
                        {% if plot.Sulphur %}
                          <h5><b> {{ plot.Sulphur }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Copper (Cu)</h4>
                        {% if plot.Copper %}
                          <h5><b> {{ plot.Copper }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Iron (Fe)</h4>
                        {% if plot.Iron %}
                          <h5><b> {{ plot.Iron }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Zinc (Zn)</h4>
                        {% if plot.Zinc %}
                          <h5><b> {{ plot.Zinc }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Manganese (Mn)</h4>
                        {% if plot.Manganese %}
                          <h5><b> {{ plot.Manganese }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Boron (B)</h4>
                        {% if plot.Boron %}
                          <h5><b> {{ plot.Boron }}</b> <small>mg/kg</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Cation Exchange Capacity</h4>
                        {% if plot.Cation_Exchange_Capacity %}
                          <h5><b> {{ plot.Cation_Exchange_Capacity }}</b> <small>meq/100g</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Water Holding Capacity</h4>
                        {% if plot.Water_Holding_Capacity %}
                          <h5><b> {{ plot.Water_Holding_Capacity }}</b> <small>%</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Bulk Density</h4>
                        {% if plot.Bulk_Density %}
                          <h5><b> {{ plot.Bulk_Density }}</b> <small>gm/cm3</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Particle Density</h4>
                        {% if plot.Particle_Density %}
                          <h5><b> {{ plot.Particle_Density }}</b> <small>gm/cm3</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Sand</h4>
                        {% if plot.Sand %}
                          <h5><b> {{ plot.Sand }}</b> <small>%</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Silt</h4>
                        {% if plot.Silt %}
                          <h5><b> {{ plot.Silt }}</b> <small>%</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                      <div class="col-sm-2" style="min-width:220px;margin-bottom:50px;">
                        <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Clay</h4>
                        {% if plot.Clay %}
                          <h5><b> {{ plot.Clay }}</b> <small>%</small></h5>
                        {% else %} NA {% endif %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="profile_title" style="margin-bottom:20px;">
                <div class="col-md-12">
                  <h2>NDVI</h2>
                </div>
              </div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>NDVI Statistics</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-4" style="min-width:220px;margin-bottom:50px;">
                      <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Minimum NDVI</h4>
                      <h5><b> {{ min }}</b></h5>
                    </div>
                    <div class="col-sm-4" style="min-width:220px;margin-bottom:50px;">
                      <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Maximum NDVI</h4>
                      <h5><b> {{ max }}</b></h5>
                    </div>
                    <div class="col-sm-4" style="min-width:220px;margin-bottom:50px;">
                      <h4 style="border-bottom:2px solid #E6E9ED;padding-bottom:5px;max-width:200px;">Mean NDVI</h4>
                      <h5><b> {{ mean }}</b></h5>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script type="text/javascript">

    function resizeIframe(obj){
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(window).resize(function(){
      $("iframe").each(function(){
        this.style.height = this.contentWindow.document.body.scrollHeight + 'px';
      });
    });

    $(document).ready(function(){

      $("#ndvi_image").hide();

      $("#ndvi_image_toggle").click(function(){
        $("#ndvi_image").toggle();
        $(this).text(function(i, text){
          return text === "Show NDVI Image"?"Hide NDVI Image": "Show NDVI Image";
        });
      });

        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $("span[name='filename']").html(fileName)
        });
    });
        // Initialize the platform object:
        var platform = new H.service.Platform({
          'app_id': 'myawyUf5nPfe914BSGfp',
          'app_code': 'F2A2ZPi1ETd6lGpeBLmJqA',
          useHTTPS: true
        });

        var pixelRatio = window.devicePixelRatio || 1;

        // Obtain the default map types from the platform object
        var defaultLayers = platform.createDefaultLayers({
          tilesize: pixelRatio === 1?  256:512,
          ppi: pixelRatio === 1? undefined: 320,
        });

        // Instantiate (and display) a map object:
        var map = new H.Map(
          document.getElementById('map_container'),
          defaultLayers.normal.map,
          {
            center: { lng: 13.4, lat: 13.4 },
            pixelRatio: pixelRatio
          }
        );

        map.setBaseLayer(defaultLayers.satellite.xbase);

        var mapEvents = new H.mapevents.MapEvents(map);
        var behavior = new H.mapevents.Behavior(mapEvents);
        var ui = H.ui.UI.createDefault(map, defaultLayers);
        ui.removeControl('mapsettings');
        behavior.disable(H.mapevents.Behavior.WHEELZOOM);

        function drawPolygon(){
          window.linestring = new H.geo.LineString({{ linestring }});
          var newMapPolygon = new H.map.Polyline(window.linestring,{
            style: { 'strokeColor': 'red','lineWidth':4, 'lineCap': 'butt'}
          });
          // add polygon to map
          map.addObject(newMapPolygon);
          // get minimum rectangle containing polygon
          window.rect = newMapPolygon.getBounds();
          // calculate extended rectangle of 1.2 hectare area and set window.rect to extended rectangle
          calculateArea(window.rect,map);
          // set map bounds to extended rectangle
          map.setViewBounds(window.rect);

          window.linestring.eachLatLngAlt(function(lat, lng, alt){
            console.log(lat + " " + lng);
            map.addObject(new H.map.Circle(
                { lat: lat, lng: lng},
                3,
                {
                  style:{
                    strokeColor: 'white',
                    lineWidth: 2,
                    fillColor: 'black'
                  }
                }));
          });
        }
        drawPolygon();

        $(window).resize(drawPolygon);

        function calculateArea(rect){
          // get top left point of rectangle
          var topLeft = rect.getTopLeft();
          // get bottom right point of rectangle
          var bottomRight = rect.getBottomRight();
          // using these two points calculate top right and bottom left points
          var topRight = new H.geo.Point(bottomRight.lat, topLeft.lng);
          var bottomLeft = new H.geo.Point(topLeft.lat, bottomRight.lng);

          // calculate area of the rectangle
          var l = topLeft.distance(topRight);
          var w = bottomRight.distance(topRight);
          var area = l*w;

          // if area is less than 1.2 hectare extend the rectangle
          if(area<12000){
            s_r = Math.sqrt(12000/area);
            var n_l = s_r*l;
            var n_w = s_r*w;
            var d1 = (n_l-l)/2;
            var d2 = (n_w-w)/2;
            topLeft = topLeft.walk(-90,d2);
            topLeft = topLeft.walk(0,d1);
            bottomRight = bottomRight.walk(90,d2);
            bottomRight = bottomRight.walk(180,d1);
            window.rect = new H.geo.Rect(topLeft.lat,topLeft.lng,bottomRight.lat,bottomRight.lng);
          }
          //window.location = '/plot/{{ plot.id }}/updatePolygon?topLeftLat='+topLeft.lat+'&topLeftLng='+topLeft.lng+'&bottomRightLat='+bottomRight.lat+'&bottomRightLng='+bottomRight.lng;
        }


      image = document.createElement('img');
      image.style.position = "absolute";
      image.style.opacity = "1";
      image.setAttribute("id", "ndvi_image");
      image.setAttribute("onerror", "this.style.display='none'");

      // this function updates the image whenever something changes
      var update = function() {
        // project the rectangle's geo-coords to screen space
        var topLeft = map.geoToScreen(window.rect.getTopLeft());
        var bottomRight = map.geoToScreen(window.rect.getBottomRight());
        // calculate top/left and width/height
        var offsetX = topLeft.x;
        var offsetY = topLeft.y;
        var width = bottomRight.x - topLeft.x;
        var height = bottomRight.y - topLeft.y;

        // set image source (update is also called, when we choose another image)
        image.src = '{{ ndvi_image_url }}';
        // set image position and size
        image.style.top = offsetY + "px";
        image.style.left = offsetX + "px";
        image.style.width = width + "px";
        image.style.height = height + "px";
      };

      // append the image
      map.getViewPort().element.appendChild(image);
      // set initial values
      update();

      // update whenever viewport or viewmodel changes
      map.getViewPort().addEventListener('sync', function() {
        update();
      });

      map.getViewModel().addEventListener('sync', function() {
        update();
      });


    </script>

{% endblock javascripts %}
