{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>User Profile</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{ user.username }}</h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{% static 'images/user.jpg' %}" alt="Avatar" title="{{ user.username }}" style="width:200px;height:200px;border-radius:50%">
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 pull_right">


                <ul class="list-unstyled user_data">
                  <li>
                    <h4><i class="fa fa-user"></i> {{ user.first_name }} {{ user.last_name }}</h4>
                  </li>
                  <li>
                    <h4><i class="fa fa-envelope user-profile-icon"></i> {{ user.email }}</h4>
                  </li>
                  <li>
                    <h4><i class="fa fa-calendar"></i> Date Joined at {{ user.date_joined }}</h4>
                  </li>
                  <li>
                    <h4><i class="fa fa-history"></i> Last login at {{ user.last_login }}</h4>
                  </li>
                </ul>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
