{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link  href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

      </div>
    </div>
      <div class="clearfix"></div>
    <div class="x_content">
      <br/>
      <form id="demo-form2" method="post" action="{% url 'schedule' plot.id %}" data-parsley-validate class="form-horizontal form-label-left">
        {% csrf_token %}
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crop">Crop <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="crop" name="crop" class="js-example-basic-single" required>
              <option value="None" selected="selected" disabled>Select Crop</option>
              {% for crop in crops %}
                <option value="{{ crop.uuid }}">{{ crop.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="season">Irrigation Method <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="irrigation" name="irrigation" class="js-example-basic-single" required>
              <option value="None" selected="selected" disabled>Select Irrigation method</option>
              <option value="Drip">Drip</option>
              <option value="Flooding">Flooding</option>
              <option value="Micro-jet">Micro-jet</option>
              <option value="Non-Irrigated">Non Irrigated</option>
              <option value="Pivot">Pivot</option>
              <option value="Sprinkler">Sprinkler</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expected_yield">Expected Yield <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" type="number" step="0.01" id="expected_yield" name="expected_yield"  required>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sdate">Date of Sowing <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" type="text" id="sdate" name="sdate" data-toggle="datepicker" readonly>
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input data-toggle="datepicker" class="form-control col-md-7 col-xs-12" required = "required" type="text">

          </div>
        </div>-->
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" type="button">Cancel</button>
<button class="btn btn-primary" type="reset">Reset</button>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/datepicker.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('.js-example-basic-single').select2();
      });

        $('[data-toggle="datepicker"]').datepicker({
          format: 'dd-mm-yyyy'
        });
    </script>

{% endblock javascripts %}
