{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <style>
    .ylabel,.irrig_ylabel{
      display: none;
    }
    .xlabel,.irrig_xlabel{
     text-align:center;
     display: none;
   }
   .legend{
     margin-left:20px;
   }

   .hold-loader{
      background:url({% static 'images/loading.gif' %}) center center no-repeat;
    }
   </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>
            <a href="{% url 'schedules_table' %}">
              <i class="fa fa-chevron-left"></i> Schedule
            </a>
          </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Schedule Info</h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ schedule.crop.imgUrl }}" alt="Avatar" title="Change the avatar">
                  </div>
                </div>
                <h3>
                  {{ schedule.crop.name }}
                </h3>

                <ul class="list-unstyled user_data">
                  <li><h4><a href="{% url 'plot' schedule.plot.id %}">{{ schedule.plot }} <i class="fa fa-external-link"></i></a></h4>
                  </li>
                  <li>
                    <li><h4><a href="{% url 'farmer' schedule.plot.farmer.cid %}"> {{ schedule.plot.farmer }} <i class="fa fa-external-link"></i></a></h4>
                  </li>
                </ul>
              </div>


          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile_title" style="margin-bottom:20px;">
                <div class="col-xs-12">
                  <h2>NPK Recommendation</h2>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <span class="ylabel">Nutrient (kg per day)</span>
              <canvas id="canvas"></canvas>
              <div class="xlabel"> Days after sowing</div>
              <div class="legend" id="legend1"></div>

              <p style="text-align:right"><a href="/nutrition/?id={{schedule.id}}&format=csv">Export CSV</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile_title" style="margin-bottom:20px;">
                <div class="col-xs-12">
                  <h2>Irrigation Pattern <small>2018</small></h2>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 hold-loader" id="irrigation">
              <div class="irrig_ylabel">Irrigation Recommended (mm per day)</div>
              <canvas id="canvas2"></canvas>
              <div class="irrig_xlabel"> Days after sowing</div>
              <div class="legend" id="legend2"></div>
              <p style="text-align:right"><a href="/irrigation_schedule/?id={{schedule.id}}&format=csv">Export CSV</a></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile_title" style="margin-bottom:20px;">
                <div class="col-xs-12">
                  <h2>Disease Probability </h2>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 hold-loader">
              <iframe src="/dp/?id={{ schedule.id }}" width="100%"  frameborder="0" scrolling="no" onload="resizeIframe(this)" style="margin-bottom:10px;"></iframe>
              <p style="text-align:right"><a href="/dp/?id={{schedule.id}}&format=csv">Export CSV</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile_title" style="margin-bottom:20px;">
                <div class="col-xs-12">
                  <h2>Crop Stages </h2>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              {% if stages %}
                {% for stage in stages %}
                  <div> {{ stage.2 }}: {{ stage.0 }}  {{ stage.1 }}</div>
                {% endfor %}
              {% else %}
                <div> Can't get stage data. </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'vendors/Chart_scatter/Chart.Core.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendors/Chart_scatter/Chart.Scatter.js' %}"></script>
  <script type="text/javascript">

    function resizeIframe(obj){
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 50 + 'px';
    }

    $(window).resize(function(){
      $('iframe').each(function(){
        this.style.height = this.contentWindow.document.body.scrollHeight + 50 + 'px';
      });
    });

    Chart.defaults.global.responsive = true;
		Chart.defaults.global.animation = true;


        var data2 = [{
              label: "Raw Prediction",
              strokeColor: '#F16220',
    					data: [],
    				},{
              label: "Smoothened Schematic",
              strokeColor: '#007ACC',
    					data: [],
    				}];

    window.onload = function() {

        $.ajax({
          url: "/irrigation_schedule/?id={{ schedule.id }}",
          success: function(result){
            if(result['status']){
              var days = result['days'];
              var raw = result['raw'];
              var smoothened = result['smoothened'];
              for(var i=0;i<days.length;i++){
                data2[0].data.push({x: days[i], y: raw[i] });
                data2[1].data.push({x: days[i], y: smoothened[i]});
              }


              var ctx2 = document.getElementById('canvas2').getContext('2d');
              var chart2 = new Chart(ctx2).Scatter(data2, {
                bezierCurve: true,
        				showTooltips: true,
        				scaleShowHorizontalLines: true,
        				scaleShowLabels: true,
                scaleType:"number",
                xScaleOverride: true,
                xScaleSteps: 25,
                xScaleStepWidth: 5,
                xScaleStartValue: 0,
                scaleOverride: true,
                scaleSteps: 5,
                scaleStepWidth: 2,
                scaleStartValue: 0,
                pointDot: false,
                tooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=argLabel%>; <%=Math.round(valueLabel*1000)/1000 %>",
                multiTooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=Math.round(argLabel) %>; <%=Math.round(valueLabel*1000)/1000 %>",
                legendTemplate: "<div class=\"row\"><div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><span style=\"padding-left:6px;padding-right:6px;background-color:#F16220 \"></span>&nbsp;&nbsp; Raw Prediction</div><div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><span style=\"padding-left:6px;padding-right:6px;background-color:#007ACC \"></span>&nbsp;&nbsp; Smoothened Schematic</div></div>"
        			});
              document.getElementById("legend2").innerHTML = chart2.generateLegend();
              $('.irrig_xlabel').toggle();
            }else{
              $('.irrig_ylabel').html = result['message'];
            }
            $('.irrig_ylabel').toggle();
            $("#irrigation").removeClass('hold-loader');
          },
          error: function(err){
            $('.irrig_ylabel').html(err);
            $('.irrig_ylabel').toggle();
            $("#irrigation").removeClass('hold-loader');
          }
        });

        var data = [{
              label: "Diphosphorus Pentoxide",
              strokeColor: '#F16220',
              data: [],
            },{
              label: "Potassium Dioxide",
              strokeColor: '#007ACC',
              data: [],
            },{
              label: "Nitrogen",
              strokeColor: '#A31515',
              data: [],
            }];

        $.ajax({
          url: "/nutrition/?id={{ schedule.id }}",
          success: function(result){
            if(!("error" in result)){
              for(var i=0;i<result['xp2o5c'].length;i++){
                data[0].data.push({x: result['xp2o5c'][i], y: result['yp2o5c'][i] });
              }
              for(var i=0;i<result['xk2oc'].length;i++){
                data[1].data.push({x: result['xk2oc'][i], y: result['yk2oc'][i] });
              }
              for(var i=0;i<result['xnc'].length;i++){
                data[2].data.push({x: result['xnc'][i], y: result['ync'][i] });
              }
              var ctx = document.getElementById('canvas').getContext('2d');
              var chart1 = new Chart(ctx).Scatter(data, {
                bezierCurve: true,
                showTooltips: true,
                scaleShowHorizontalLines: true,
                scaleShowLabels: true,
                scaleType:"number",
                xScaleOverride: true,
                xScaleSteps: 25,
                xScaleStepWidth: 5,
                xScaleStartValue: 0,
                pointDot: false,
                tooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=Math.round(argLabel) %>; <%=Math.round(valueLabel*1000)/1000 %>",
                multiTooltipTemplate: "<%if (datasetLabel){ %><%=datasetLabel%>: <% }%><%=Math.round(argLabel) %>; <%=Math.round(valueLabel*1000)/1000 %>",
                legendTemplate: "<div class=\"row \"><div class=\"col-xs-12 col-sm-4 col-md-4 col-lg-4 align-items-center\"><span style=\"padding-left:6px;padding-right:6px;background-color:#F16220 \"></span>&nbsp;&nbsp; P<sub>2</sub>O<sub>5</sub></div><div class=\"col-xs-12 col-sm-4 col-md-4 col-lg-4 align-items-center\"><span style=\"padding-left:6px;padding-right:6px;background-color:#007ACC \"></span>&nbsp;&nbsp; K<sub>2</sub>O</div><div class=\"col-xs-12 col-sm-4 col-md-4 col-lg-4 align-items-center\"><span style=\"padding-left:6px;padding-right:6px;background-color:#A31515 \"></span>&nbsp;&nbsp; N</div></div>"
              });

              document.getElementById("legend1").innerHTML = chart1.generateLegend();

              $('.xlabel').toggle();
              $('.ylabel').toggle();
            }else{
              console.log(result['error']);
            }
          },
          error: function(err){
            console.log(err);
          }
        });




		};

  </script>
{% endblock javascripts %}
