<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard' %}" class="site_title"><i class="fa fa-spinner"></i> <span>Arch Dashboard</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.jpg" style="width:50px;height:50px;" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{% if user.first_name %}
        {{ user.first_name }}
        {% else %}
          {{ user.username }}
        {% endif %}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br/>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <!-- <li><a><i class="fa fa-desktop"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
          </ul>
        </li> -->
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-desktop"></i> Dashboard</a>
        </li>
        <li><a href="{% url 'check_disease' %}"><i class="fa fa-leaf"></i> Disease Detection</a>
        </li>
        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> My Profile</a>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout' %}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
