{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        </div>
      </div>
    </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>
                Disease Classification
              </h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:30px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="profile_title" style="margin-bottom:20px;">
                  <div class="col-md-12">
                    <h2>Upload leaf image</h2>
                  </div>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Leaf Image</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="">

                      <div class="row">
                        <form id="demo-form2"  method="post" action="{% url 'disease_classification' %}" enctype="multipart/form-data" >
                          {% csrf_token %}
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="datafile" class="btn btn-primary" style="display:inline-block;cursor:pointer;margin-bottom:10px;">
                                  Upload an image file
                                </label>
                                <span name="filename"></span>
                                <input id="datafile" type="file" class="btn btn-success" name="datafile" style="opacity:0; position:absolute;z-index:-1" required>

                              </div>
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

{% endblock javascripts %}
