<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>
  <body style="background:white;">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

        <div class="profile_title" style="margin-bottom:20px;">
          <div class="col-md-12">
            <h2>Weather Forecast</h2>
          </div>
        </div>
        <!-- start of weather widget -->
        <div class="col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="date"><h3><b>{{ today.0 }}</b></h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="weather-text pull-right">
                    <h3 class="degree">{{ today.1 }}<sup>o</sup><small> Avg. Temperature</h3>
                    <h4 class="percentage">{{ today.2 }} %<small> Rel. Humidity</small></h4>
                    <h5 class="speed">{{ today.3 }} <i>km/h</i><small> Wind Speed</small></h5>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="row weather-days">
                {% for p in zip %}
                  <div class="col-sm-4 col-md-2 col-xs-6">
                    <div class="daily-weather">
                      <h3 class="day">{{ p.0 }}</h3>
                      <h4 class="degrees">{{ p.1 }}<sup>o</sup>C</h4>
                      <span>
                        <h4> {{ p.2 }} %</h4>
                      </span>
                      <h5>{{ p.3 }} <i>km/h</i></h5>
                    </div>
                  </div>
                {% endfor %}
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>
        <!-- end of weather widget -->
      </div>
    </div>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
  </body>
</html>
