<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %} Arch{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- JQuery+Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- naviagation bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">ARCH</a>
       </div>
       <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
         </ul>
         <ul class="nav navbar-nav navbar-right">
           {% if user.is_authenticated %}
           <li>{{ user.get_username }}</li>
           <li> <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a> </li>
           {% else %}
           <li>
             <a href="{% url 'login' %}?next={{ request.path }}">
               <span class="glyphicon glyphicon-log-in"></span>
               Login
             </a>
           </li>
           {% endif %}
         </ul>
       </div>
     </div>
   </nav>
   {% block content %}{% endblock %}
   <footer>&copy; 2019</footer>
  </body>
</html>
