{% extends 'base.html' %}

{% block title %} Arch {% endblock %}

{% block content %}
  <form class="" action="{% url 'geodata' %}" method="post">
    {% csrf_token %}
    <input type="text" name="coord_json" value="">
    <input type="text" name="coord_json" value="">
    <input type="submit" name="" value="Submit">
  </form>
{% endblock %}
