
<SCRIPT LANGUAGE=javascript>
function round(number,X) {
   // rounds number to X decimal places, defaults to 2
   if (X==0)
    return  Math.round(number);

   X = (!X ? 2 : X);
   return Math.round(number*Math.pow(10,X))/Math.pow(10,X);
}

function GetNumbers()
{
	var ch=event.keyCode;
	event.returnValue =(ch >= 48 && ch <= 57) || ch == 46 ;
}
function foo(str)
{
	var code = window.event.keyCode;
	if(code == 13) // keycode for a return
	{
	 execScript(str)
	}
}
</script>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
{% load staticfiles %}
<head>
<title>Haifa Nutri-Net</title>
<base target="middle">
<meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
<meta charset="windows-1252">
<link href="../essai.css" rel="STYLESHEET" type="text/css">
<script language="javascript" type="text/javascript">
<!--
function show_list(otr)
{
	if (document.all('tr_' + otr).style.display == 'none')
	{
		for (i=1;i<=4;i++ )
		{
			if (i==otr)
			{
				document.all('tr_' + i).style.display = 'block';
				document.all('img' + i).src = '../images/arrow_act_link.gif';
			}
			else
			{
				document.all('tr_' + i).style.display = 'none';
				document.all('img' + i).src = '../images/arrow_pass_link.gif';
			}
		}
	}
	else
	{
		document.all('tr_' + otr).style.display = 'none';
		document.all('img' + otr).src = '../images/arrow_pass_link.gif';
	}
	return false;
}
function go_crop(data_num,oselect)
{
	document.location.href = '?data=' + data_num + '&id=' + oselect.value ;
}


var NFACT , PFACT , KFACT , CAFACT , MGFACT ;
var factorplnt = 1;
var	fac = 1;
var	fac1 = 1;
var ph = 7;
var kd = "";
if (kd == "") kd = 0;

var NFA = new Array(); var PFA = new Array(); var KFA = new Array(); var CAFA = new Array();
var MGFA = new Array(); var NITRATE = new Array(); var factorpl = new Array(); var facteur = new Array();
var max = new Array(); var NPLNTA = new Array(); var min = new Array(); var pplnta = new Array();
var kplnta = new Array(); var caplnta = new Array(); var mgplnta = new Array(); var pfactora = new Array();
var cropa = new Array(); var datab = '{{ data }}'; var crop_id = '{{ crop_id }}';

var NEXPa = new Array(); var kexpa = new Array(); var pexpa = new Array(); var caexpa = new Array(); var mgexpa = new Array();

// getting factors from db


NFA[1]=1.2;     PFA[1]=1.8;
KFA[1]=2;     CAFA[1]=2;
MGFA[1]=2;   NITRATE[1]=10 ;

NFA[2]=1.2;     PFA[2]=1.5;
KFA[2]=1.6;     CAFA[2]=1.5;
MGFA[2]=1.5;   NITRATE[2]=15 ;

NFA[3]=1.2;     PFA[3]=1.2;
KFA[3]=1.3;     CAFA[3]=0.5;
MGFA[3]=1;   NITRATE[3]=20 ;

NFA[4]=1.2;     PFA[4]=0.5;
KFA[4]=1;     CAFA[4]=0;
MGFA[4]=0.5;   NITRATE[4]=25 ;

NFA[5]=1.2;     PFA[5]=0;
KFA[5]=0.5;     CAFA[5]=0;
MGFA[5]=0;   NITRATE[5]=30 ;

NFACT=NFA[3];
PFACT=PFA[3];
KFACT=KFA[3];
CAFACT=CAFA[3];
MGFACT=MGFA[3];

NEXPa[0] = 3;
pexpa[0] = .9;
kexpa[0] = 2.5;
caexpa[0] = 2.3;
mgexpa[0] = .7;

NEXPa[1] = 4.2;
pexpa[1] = 1.5;
kexpa[1] = 8.1;
caexpa[1] = 1.4;
mgexpa[1] = 0.9;

NEXPa[2] = 4.5;
pexpa[2] = 1.3;
kexpa[2] = 5;
caexpa[2] = 4.6;
mgexpa[2] = 0.5;


NEXPa[3] = 1.8;
pexpa[3] = 1;
kexpa[3] = 3.4;
caexpa[3] = 1;
mgexpa[3] = .1;

NEXPa[4] = 2.1;
pexpa[4] = 1.5;
kexpa[4] = 6.1;
caexpa[4] = 2.4;
mgexpa[4] = .2;

NEXPa[5] = 1.1;
pexpa[5] = .5;
kexpa[5] = 2;
caexpa[5] = .25;
mgexpa[5] = .2;

NEXPa[6] = 2;
pexpa[6] = .5;
kexpa[6] = 3;
caexpa[6] = 0.6;
mgexpa[6] = 0.2;

NEXPa[7] = 13.2;
pexpa[7] = 5;
kexpa[7] = 9;
caexpa[7] = 2.6;
mgexpa[7] = 1.1;


NEXPa[8] = 2.3;
pexpa[8] = 1.1;
kexpa[8] = 3.5;
caexpa[8] = 0.8;
mgexpa[8] = 0.5;

NEXPa[9] = 1.4;
pexpa[9] = 0.9;
kexpa[9] = 4.2;
caexpa[9] = 1.1;
mgexpa[9] = .3;

NEXPa[10] = 1.6;
pexpa[10] = 0.6;
kexpa[10] = 3.5;
caexpa[10] = 1;
mgexpa[10] = 0.4;

NEXPa[11] = 1.4;
pexpa[11] = 1;
kexpa[11] = 1.6;
caexpa[11] = 0.8;
mgexpa[11] = 0.3;

NEXPa[12] = 2.2;
pexpa[12] = .8;
kexpa[12] = 2;
caexpa[12] = 3;
mgexpa[12] = .6;

NEXPa[13] = 2;
pexpa[13] = .6;
kexpa[13] = 3.5;
caexpa[13] = 0.5;
mgexpa[13] = 0.3;

NEXPa[14] = 1.9;
pexpa[14] = 0.9;
kexpa[14] = 5.1;
caexpa[14] = 0.1;
mgexpa[14] = 0.1;

NEXPa[15] = 2;
pexpa[15] = 0.95;
kexpa[15] = 4.6;
caexpa[15] = 0.6;
mgexpa[15] = 0.8;

NEXPa[16] = 1.2;
pexpa[16] = 0.9;
kexpa[16] = 3.6;
caexpa[16] = .4;
mgexpa[16] = .1;

NEXPa[17] = 1.9;
pexpa[17] = 0.6;
kexpa[17] = 3.2;
caexpa[17] = 1.1;
mgexpa[17] = 0.2;

NEXPa[18] = 1.5;
pexpa[18] = .4;
kexpa[18] = 2.8;
caexpa[18] = 0.15;
mgexpa[18] = 0.2;

NEXPa[19] = 1.2;
pexpa[19] = 0.6;
kexpa[19] = 2.7;
caexpa[19] = 0.5;
mgexpa[19] = 0.5;



NPLNTA[1]=1.2;
max[1]=240;
min[1]=20;
pplnta[1]=.3;
kplnta[1]=1.9;
caplnta[1]=2.2;
mgplnta[1]=.5;
pfactora[1]=2;
cropa[1]='tomatoes';

NPLNTA[2]=1.8;
max[2]=200;
min[2]=15;
pplnta[2]=.4;
kplnta[2]=2.3;
caplnta[2]=1.9;
mgplnta[2]=.5;
pfactora[2]=2;
cropa[2]='pepper';

NPLNTA[4]=1.3;
max[4]=300;
min[4]=30;
pplnta[4]=.55;
kplnta[4]=2.3;
caplnta[4]=2.4;
mgplnta[4]=.5;
pfactora[4]=2;
cropa[4]='cucumber';

NPLNTA[5]=2.3;
max[5]=100;
min[5]=20;
pplnta[5]=.7;
kplnta[5]=3.6;
caplnta[5]=3.3;
mgplnta[5]=.9;
pfactora[5]=1.6;
cropa[5]='melon';

NPLNTA[7]=1.3;
max[7]=70;
min[7]=20;
pplnta[7]=.3;
kplnta[7]=3.4;
caplnta[7]=2.2;
mgplnta[7]=.4;
pfactora[7]=1.6;
cropa[7]='carrot';

NPLNTA[8]=25;
max[8]=30;
min[8]=5;
pplnta[8]=8;
kplnta[8]=38;
caplnta[8]=17.6;
mgplnta[8]=3.3;
pfactora[8]=1.6;
cropa[8]='leek';

NPLNTA[14]=2;
max[14]=110;
min[14]=20;
pplnta[14]=.3;
kplnta[14]=1.3;
caplnta[14]=.8;
mgplnta[14]=.5;
pfactora[14]=2;
cropa[14]='potatoes';

NPLNTA[17]=2.6;
max[17]=35;
min[17]=10;
pplnta[17]=1.2;
kplnta[17]=4.4;
caplnta[17]=1.5;
mgplnta[17]=.3;
pfactora[17]=1.4;
cropa[17]='strawberry';

NPLNTA[19]=16.5;
max[19]=15;
min[19]=5;
pplnta[19]=4.2;
kplnta[19]=20.1;
caplnta[19]=15;
mgplnta[19]=1.6;
pfactora[19]=1.2;
cropa[19]='beans';

NPLNTA[3]=2;
max[3]=120;
min[3]=15;
pplnta[3]=.5;
kplnta[3]=1.9;
caplnta[3]=1.1;
mgplnta[3]=.2;
pfactora[3]=1.8;
cropa[3]='onions';

NPLNTA[6]=1.5;
max[6]=110;
min[6]=20;
pplnta[6]=.6;
kplnta[6]=2;
caplnta[6]=4.5;
mgplnta[6]=.7;
pfactora[6]=1.8;
cropa[6]='watermelon';

NPLNTA[9]=14.3;
max[9]=20;
min[9]=3;
pplnta[9]=4.2;
kplnta[9]=10;
caplnta[9]=9;
mgplnta[9]=1.3;
pfactora[9]=1;
cropa[9]='peas';

NPLNTA[10]=3.3;
max[10]=150;
min[10]=20;
pplnta[10]=.4;
kplnta[10]=4;
caplnta[10]=3;
mgplnta[10]=.5;
pfactora[10]=2;
cropa[10]='eggplant';

NPLNTA[11]=1.6;
max[11]=130;
min[11]=15;
pplnta[11]=.4;
kplnta[11]=1.3;
caplnta[11]=2;
mgplnta[11]=.1;
pfactora[11]=1.6;
cropa[11]='squash';

NPLNTA[12]=.2;
max[12]=180;
min[12]=30;
pplnta[12]=.3;
kplnta[12]=.6;
caplnta[12]=.1;
mgplnta[12]=.1;
pfactora[12]=1.6;
cropa[12]='celery';

NPLNTA[13]=.2;
max[13]=100;
min[13]=15;
pplnta[13]=.1;
kplnta[13]=.3;
caplnta[13]=.1;
mgplnta[13]=.1;
pfactora[13]=1.8;
cropa[13]='lettuce';

NPLNTA[15]=2.8;
max[15]=35;
min[15]=8;
pplnta[15]=.75;
kplnta[15]=2.2;
caplnta[15]=2.5;
mgplnta[15]=.9;
pfactora[15]=1.6;
cropa[15]='radish';

NPLNTA[16]=.8;
max[16]=24;
min[16]=7;
pplnta[16]=.3;
kplnta[16]=2.8;
caplnta[16]=4.2;
mgplnta[16]=.3;
pfactora[16]=1.6;
cropa[16]='garlic';

NPLNTA[18]=.3;
max[18]=100;
min[18]=10;
pplnta[18]=.1;
kplnta[18]=.2;
caplnta[18]=.1;
mgplnta[18]=.1;
pfactora[18]=1.5;
cropa[18]='broccoli';

NPLNTA[20]=1.3;
max[20]=100;
min[20]=10;
pplnta[20]=.5;
kplnta[20]=1.5;
caplnta[20]=.3;
mgplnta[20]=.1;
pfactora[20]=1.4;
cropa[20]='cabbage';


//kan klitat N,P,K,CA,MG RECY    tikun 1-4-03
Nrecy = 0; Precy = 0; Krecy = 0; Carecy = 0; Mgrecy = 0;
//TxtNprev.Text = Nrecy: TxtPprev.Text = Precy: TxtKprev.Text = Krecy: TxtCaprev.Text = Carecy: TxtMgprev.Text = Mgrecy

// getting method factors from db


factorpl['1']=1; facteur['1']=1;

factorpl['2']=1.1; facteur['2']=1;

factorpl['3']=1.2; facteur['3']=.7;

factorpl['4']=1.4; facteur['4']=.5;

if (datab != '2')
{
	factorplnt = factorpl[1];
	fac = facteur[1];
}

function set_range0(){
  var vmin = min[crop_id];
	var vmax = max[crop_id];

	if (fac != 0)
	{
		vmin = Math.round(vmin* fac);
		vmax = Math.round(vmax* fac);
	}
	//window.alert(vmin);
	min_max.value = vmin + ' - ' + vmax;
}

function set_range1(sel)
{
    osel = sel.selectedIndex;
	if (osel == 0)
	{	factorplnt = factorpl[1];
		fac = facteur[1] ;
	}else if (osel == 1)
	{	factorplnt = factorpl[2];
		fac = facteur[2] ;
	}else if (osel == 2)
	{	factorplnt = factorpl[3];
		fac = facteur[3] ;
	}else if (osel == 3)
	{	factorplnt = factorpl[4];
		fac = facteur[4] ;
	}

    var vmin = min[crop_id];
	var vmax = max[crop_id];

	if (fac != 0)
	{
		vmin = Math.round(vmin* fac);
		vmax = Math.round(vmax* fac);
	}

	//window.alert(vmin);
	min_max.innerText = vmin + ' - ' + vmax;
	form1.reset();
}
function set_range2(sel)
{
	osel = sel.selectedIndex
	if (osel == 0) //'full production'
	{	factorplnt = factorpl[4];
	 	fac = facteur[4] ;
	}
	else if (osel == 1) //'in production'
	{	factorplnt = factorpl[3];
		 fac = facteur[3] ;
	}
	else if (osel == 2) //first yield
	{	factorplnt = factorpl[2];
		 fac = facteur[2] ;

	}
	else if (osel == 3) //'after planting''
	{	factorplnt = factorpl[1];
		 fac = facteur[1] ;

	}

	var vmin = min[crop_id];
	var vmax = max[crop_id];
	if (fac != 0)
	{
		vmin = Math.round(vmin* fac);
		vmax = Math.round(vmax* fac);
	}
	min_max.innerText = vmin + ' - ' + vmax;

	form1.reset();
	//alert(fac+" "+factorplnt)
	datab = "1";
	saved_data = window.document.all("saved_data").value;
	ind = window.document.all("methd").value;
	//window.alert(datab == "3" && ind != "3");
	if((datab == "3" || datab == "4") && (saved_data != "1"))
	{
		if(datab == "3" && ind != "2")
			window.document.all("combo3").value = "13";
		if	(datab == "4" && ind != "2")
			window.document.all("combo3").value = "14";
		Combo3_click();
	}

}

function yieldChange()
{
	if (document.all("yield").value == '' || isNaN(document.all("yield").value))
	{
		document.all("yield").value = '0';
		form1.reset();;
		document.all("yield").focus();
		return false;
	}
	if (kd == 95)
	{
      kd = crop_id;
      Nrecy = round((NPLNTA[kd] * (max[kd] / 2) * fac * 0.3),0);
      Precy = round((pplnta[kd] * (max[kd] / 2) * fac * 0.2),0);
      Krecy = round((kplnta[kd] * (max[kd] / 2) * fac * 0.5),0);
      Carecy = round((caplnta(kd) * (max[kd] / 2) * fac * 0.1),0);
      Mgrecy = round((mgplnta(kd) * (max[kd] / 2) * fac * 0.2),0);
      precedent = cropa[kd];
      //Combo3.Text = precedent$
    }
    //window.alert(kd);
	return true;
}

function set_numbers()
{
	var tikun ,NPLNT,P2O5PLNT,K2OPLNT,CAOPLNT,MGOPLNT ;

	if (document.all("yield").value == '' || isNaN(document.all("yield").value))
	{
		document.all("yield").value = '0';
		form1.reset();
		//table_units.style.display = 'none';
		document.all("yield").focus();
		return false;
	}

	var curyield = eval(document.all("yield").value);
	var answer;
	var vmin = min[crop_id];
	var vmax = max[crop_id];
	if (fac != 0)
	{
		vmin = Math.round(vmin* fac);
		vmax = Math.round(vmax* fac);
	}

	//window.alert(" vmin = " + vmin + " vmax = " + vmax);
 if (curyield < vmin)
 {

		answer = window.confirm("The value is too low, are you sure want to proceed?")
		if(answer == false)
		{
		   form1.reset();
		   //table_units.style.display = 'none';
		   document.all("yield").value = "";
		   document.all("yield").select();
		   return false;
		}
  }

  if (curyield > vmax)
  {
		answer = window.confirm("The value is too high, are you sure want to proceed?")
		if(answer == false)
		{
			form1.reset();
			//table_units.style.display = 'none';
			document.all("yield").value = "";
			document.all("yield").select();
			return false;
		}
  }

  if (!((curyield < vmin) && (curyield > vmax)))
  {
    var sel = document.getElementById('select1');
    console.log(sel.selectedIndex)
		NEXP = form1.NEXP.value = Math.round((NEXPa[sel.selectedIndex] * curyield)-0.1);
		P2O5EXP = form1.P2O5EXP.value = Math.round((pexpa[sel.selectedIndex] * curyield)-0.1);
		K20EXP = form1.K20EXP.value = Math.round((kexpa[sel.selectedIndex] * curyield)-0.1);
		CAOEXP = form1.CAOEXP.value = Math.round((caexpa[sel.selectedIndex] * curyield)-0.1);
		MGOEXP = form1.MGOEXP.value = Math.round((mgexpa[sel.selectedIndex] * curyield)-0.1);
		if (fac != 0)
			tikun = round(((curyield - ((vmax + (vmin/fac)) / 2)) * 0.3),3);
		else
			tikun = 0
NEXPa
        //window.alert("fac="+fac);
        //window.alert("factorplnt="+factorplnt);
        //window.alert('document.all("pplnta").value='+document.all("pplnta").value));
    NPLNT = NPLNTA[{{crop_id}}] * (curyield - tikun) * factorplnt;
		P2O5PLNT = round(pplnta[{{crop_id}}] * (curyield - tikun) * factorplnt,3);
		K2OPLNT = kplnta[{{crop_id}}] * (curyield - tikun) * factorplnt;
		CAOPLNT = caplnta[{{crop_id}}] * (curyield - tikun) * factorplnt;
		MGOPLNT = mgplnta[{{crop_id}}] * (curyield - tikun) * factorplnt;

		NUPTK = form1.NUPTK.value = Math.round(parseFloat(document.all("NEXP").value) + NPLNT);
		P2O5UPTK = form1.P2O5UPTK.value = Math.round(P2O5EXP + P2O5PLNT);
		//window.alert("P2O5PLNT = " + P2O5PLNT + " P2O5EXP = " + P2O5EXP);
		K2OUPTK = form1.K2OUPTK.value = Math.round(parseFloat(document.all("K20EXP").value) + K2OPLNT);
		CAOUPTK = form1.CAOUPTK.value = Math.round(parseFloat(document.all("CAOEXP").value) + CAOPLNT);
		MGOUPTK = form1.MGOUPTK.value = Math.round(parseFloat(document.all("MGOEXP").value) + MGOPLNT);

		NREC = (NUPTK * NFACT) - window.document.all("Nprev").value;
        if(NREC < 0)
            NREC = 0;
        form1.NREC.value = Math.round(NREC);

        //window.alert("P2O5UPTK="+P2O5UPTK+"PFACT="+PFACT+"pfactora="+document.all("pfactora").value);
        PREC = (P2O5UPTK * PFACT + ((pfactora[{{crop_id}}] - 1) * 106)) - window.document.all("Pprev").value;
        if(PREC < 0)
            PREC = 0;
        form1.P2O5REC.value = Math.round(PREC);

        KREC = (K2OUPTK * KFACT) - window.document.all("Kprev").value;
        if(KREC < 0)
            KREC = 0;
		form1.K2OREC.value = Math.round(KREC);

		CAREC = (CAOUPTK * CAFACT) - window.document.all("Caprev").value;
		if(CAREC < 0)
            CAREC = 0;
		form1.CAOREC.value = Math.round(CAREC);

		MGREC = (MGOUPTK * MGFACT) - window.document.all("Mgprev").value;
		if(MGREC < 0)
            MGREC = 0;
		form1.MGOREC.value = Math.round(MGREC);

		//table_units.style.display = 'block';
		title_units.style.display = 'none';
		other_unit.style.display = 'none';
		return true;
	}
}


function getNumbers(obj)
{
	if(isNaN(obj.value))
	{
		obj.value = '';
		return false;
	}
	return true;
}


var NFACT2, PFACT2, KFACT2, MGFACT2, CAFACT2;
var vclima = "unknown";
var rainfall = 5;
var vsoiltyp = "unknown";
var stype = 0 ;
var Cecest = 20 ;
var vmethodph = "pH water";
var phmet = 0 ;

var clay = 0;
var orgm = 0;
var ec = 0;
var vactcalc = 0;
var pmethd = "none";
var phosp = 0;

var nit = 7;
var K2Owat = 0;
var CAOwat = 100;
var MGOwat = 0;
var df = 0;
var klevel = "unknown";

var cecexch = 0;
var Kexch = 0;
var CAexch = 0;
var MGexch = 0;
var Naexch = 0;
var Hexch = 0;

var NFA = new Array();
var PFA = new Array();
var KFA = new Array();
var CAFA = new Array();
var MGFA = new Array();
var NITRATE = new Array();
var NSOIL = new Array();
var PSOIL = new Array();
var KSOIL = new Array();
var CASOIL = new Array();
var MGSOIL = new Array();
var soilnom = new Array();
var bray1 = new Array();
var bray2 = new Array();
var olsen = new Array();
var mehlich = new Array();
var datab = '2';
var pfacto = pfactora[{{crop_id}}];
if(isNaN(pfacto))
 pfacto = 0;
else pfacto = parseFloat(pfacto);

// getting factors from db

NFA[1]='1.2';
PFA[1]='1.8';
KFA[1]='2';
CAFA[1]='2';
//alert(CAFA['1']+" "+'1')
MGFA[1]='2';

NFA[2]='1.2';
PFA[2]='1.5';
KFA[2]='1.6';
CAFA[2]='1.5';
//alert(CAFA['2']+" "+'2')
MGFA[2]='1.5';

NFA[3]='1.2';
PFA[3]='1.2';
KFA[3]='1.3';
CAFA[3]='0.5';
//alert(CAFA['3']+" "+'3')
MGFA[3]='1';

NFA[4]='1.2';
PFA[4]='0.5';
KFA[4]='1';
CAFA[4]='0';
//alert(CAFA['4']+" "+'4')


NFA[5]='1.2';
PFA[5]='0';
KFA[5]='0.5';
CAFA[5]='0';
//alert(CAFA['5']+" "+'5')
MGFA[5]='0';


NFACT2=NFA[3];
PFACT2=PFA[3];
KFACT2=KFA[3];
CAFACT2=CAFA[3];
MGFACT2=MGFA[3];
//alert (CAFACT2)
 //get soilfact

NSOIL[1]='1.1';
PSOIL[1]='1.4';
KSOIL[1]='1.4';
CASOIL[1]='0.5';
MGSOIL[1]='1.4';
soilnom[1]='clay soil';

NSOIL[2]='1.1';
PSOIL[2]='1.4';
KSOIL[2]='1.4';
CASOIL[2]='0.5';
MGSOIL[2]='1.4';
soilnom[2]='sandy clay';

NSOIL[3]='1.3';
PSOIL[3]='1.1';
KSOIL[3]='1.4';
CASOIL[3]='0.5';
MGSOIL[3]='1.4';
soilnom[3]='sandy loam';

NSOIL[4]='1.3';
PSOIL[4]='1.4';
KSOIL[4]='1.4';
CASOIL[4]='0.5';
MGSOIL[4]='1.4';
soilnom[4]='sandy soil';

NSOIL[5]='1.2';
PSOIL[5]='1.2';
KSOIL[5]='1.3';
CASOIL[5]='0.5';
MGSOIL[5]='1.3';
soilnom[5]='loam';

NSOIL[6]='1.2';
PSOIL[6]='1.2';
KSOIL[6]='1.3';
CASOIL[6]='0.5';
MGSOIL[6]='1.3';
soilnom[6]='silt loam';

NSOIL[7]='1.2';
PSOIL[7]='1.2';
KSOIL[7]='1.3';
CASOIL[7]='0.5';
MGSOIL[7]='1.3';
soilnom[7]='silt soil';

NSOIL[8]='1.1';
PSOIL[8]='1.4';
KSOIL[8]='1.4';
CASOIL[8]='0.5';
MGSOIL[8]='1.4';
soilnom[8]='silty clay';

NSOIL[9]='1.1';
PSOIL[9]='1.4';
KSOIL[9]='1.4';
CASOIL[9]='0.5';
MGSOIL[9]='1.4';
soilnom[9]='clay loam';

NSOIL[10]='1.2';
PSOIL[10]='1.3';
KSOIL[10]='1.3';
CASOIL[10]='0.5';
MGSOIL[10]='1';
soilnom[10]='unknown';

NSOIL[11]='1.1';
PSOIL[11]='1.4';
KSOIL[11]='1.4';
CASOIL[11]='0.5';
MGSOIL[11]='1.4';
soilnom[11]='clay soil';

NSOIL[12]='1.1';
PSOIL[12]='1.4';
KSOIL[12]='1.4';
CASOIL[12]='0.5';
MGSOIL[12]='1.4';
soilnom[12]='sandy clay';

NSOIL[13]='1.3';
PSOIL[13]='1.1';
KSOIL[13]='1.4';
CASOIL[13]='0.5';
MGSOIL[13]='1.4';
soilnom[13]='sandy loam';

NSOIL[14]='1.3';
PSOIL[14]='1.4';
KSOIL[14]='1.4';
CASOIL[14]='0.5';
MGSOIL[14]='1.4';
soilnom[14]='sandy soil';

NSOIL[15]='1.2';
PSOIL[15]='1.2';
KSOIL[15]='1.3';
CASOIL[15]='0.5';
MGSOIL[15]='1.3';
soilnom[15]='loam';

NSOIL[16]='1.2';
PSOIL[16]='1.2';
KSOIL[16]='1.3';
CASOIL[16]='0.5';
MGSOIL[16]='1.3';
soilnom[16]='silt loam';

NSOIL[17]='1.2';
PSOIL[17]='1.2';
KSOIL[17]='1.3';
CASOIL[17]='0.5';
MGSOIL[17]='1.3';
soilnom[17]='silt soil';

NSOIL[18]='1.1';
PSOIL[18]='1.4';
KSOIL[18]='1.4';
CASOIL[18]='0.5';
MGSOIL[18]='1.4';
soilnom[18]='silty clay';

NSOIL[19]='1.1';
PSOIL[19]='1.4';
KSOIL[19]='1.4';
CASOIL[19]='0.5';
MGSOIL[19]='1.4';
soilnom[19]='clay loam';

NSOIL[20]='1.2';
PSOIL[20]='1.3';
KSOIL[20]='1.3';
CASOIL[20]='0.5';
MGSOIL[20]='1';
soilnom[20]='unknown';


//get Plevel

bray1[1]='9';
bray2[1]='12';
olsen[1]='4';
mehlich[1]='6';

bray1[2]='18';
bray2[2]='26';
olsen[2]='8';
mehlich[2]='16';

bray1[3]='27';
bray2[3]='43';
olsen[3]='14';
mehlich[3]='31';

bray1[4]='40';
bray2[4]='60';
olsen[4]='23';
mehlich[4]='51';

bray1[5]='9';
bray2[5]='12';
olsen[5]='4';
mehlich[5]='6';

bray1[6]='18';
bray2[6]='26';
olsen[6]='8';
mehlich[6]='16';

bray1[7]='27';
bray2[7]='43';
olsen[7]='14';
mehlich[7]='31';

bray1[8]='40';
bray2[8]='60';
olsen[8]='23';
mehlich[8]='51';


function set_numbers2()
{
    //EZOR TROPICAL
     if(rainfall == 4 && ph > 7.3)
     {
		window.alert("illogic !! pH too high for tropical zone");
     }

	  NUPTK = document.all("NUPTK").value;
	  P2O5UPTK = document.all("P2O5UPTK").value;
	  K2OUPTK = document.all("K2OUPTK").value;
	  CAOUPTK = document.all("CAOUPTK").value;
	  MGOUPTK = document.all("MGOUPTK").value;

    Nrecy = document.all("Nprev").value;
    Precy = document.all("Pprev").value;
    Krecy = document.all("Kprev").value;
    Carecy = document.all("Caprev").value;
    Mgrecy = document.all("Mgprev").value;

    //tikun 1-4-03
     NREC = (NUPTK * NFACT2) - Nrecy;
     //window.alert("NUPTK = " + NUPTK + " NFACT2= " + NFACT2 + " Nrecy=" + Nrecy);
     if(NREC < 0)
          NREC = 0;
     PREC = (P2O5UPTK * PFACT2 + ((pfacto - 1) * 106)) - Precy;
     if(PREC < 0)
          PREC = 0;

     //1 ppm=10.000m2 x 0.25m x 1.3 /1000= 3.25 kg P /ha    =7.44 kg p2o5/ha
     KREC = (K2OUPTK * KFACT2) - Krecy;
     if(KREC < 0)
           KREC = 0;

     CAREC = (CAOUPTK * CAFACT2) - Carecy;
     if(CAREC < 0)
         CAREC = 0;

     MGREC = (MGOUPTK * MGFACT2) - Mgrecy;
     if(MGREC < 0)
          MGREC = 0;

	form11.NREC2.value = Math.round(NREC);
	form11.P2O5REC2.value = Math.round(PREC);
	form11.K2OREC2.value = Math.round(KREC);
	form11.CAOREC2.value = Math.round(CAREC);
	form11.MGOREC2.value = Math.round(MGREC);

	window.document.all("button4").style.display = "inline";
	//tr_location.style.display = 'block';
	//to_rectable.click();

	//EZOR TROPICAL
    if (rainfall == 4 && ph > 7.3)
    {   alert(" Illogic !! pH too high  for tropical zone !"); }
	return true;
}

var popUp;
function Savesoil_fnc()
{
	form11.action="savesoil.asp?savesoil1=1";
	//popUp=window.open("","popUp", "width=150,height=10,toolbar=no,menubar=no,align=absleft,valign=abstop,titlebar=no,left=300,top=100");
	//form11.target= 'popUp';
	form11.submit();
	parent.frames('top').document.location.reload();
	return false;
}

function set_climat()
{
	var ind	= form11.clima.selectedIndex;

	if (ind == 1){
		vclima = "desertic";	rainfall = 0;
	}else if(ind == 2){
		vclima = "semi-arid";  rainfall = 1;
	}else if(ind == 3){
		vclima = "mediteran." ; rainfall = 2;
	}else if(ind == 4){
		vclima = "rainy ";      rainfall = 3;
	}else if(ind == 5){
		vclima = "tropical";    rainfall = 4;
	}else{
		vclima = "unknow";      rainfall = 5;
	}

  if (rainfall == 4)
  {
	NFACT2 = NFA[4]; PFACT2 = PFA[1]; KFACT2 = KFA[2]; CAFACT2 = CAFA[1];
  }else {
	NFACT2 = NFA[3]; PFACT2 = PFA[3]; KFACT2 = KFA[3]; CAFACT2 = CAFA[3]; MGFACT2 = MGFA[3];
  }
  //alert("rainfall = " + rainfall + "PFACT2 = " + PFACT2 );
  return true;
}
function set_soiltype()
{
	var ind	= form11.soiltyp.selectedIndex
	if (ind == 1){
    	vsoiltyp = soilnom[ind]; // "clay soil"
		stype = 1; Cecest = 40;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 2){
		vsoiltyp = soilnom[ind]; // "sandy clay"
		stype = 2; Cecest = 25;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 3){
		vsoiltyp = soilnom[ind]; //"sandy loam"
		stype = 3; Cecest = 20;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 4){
		vsoiltyp = soilnom[ind]; //"sandy soil"
		stype = 4; Cecest = 5;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 5){
		vsoiltyp = soilnom[ind]; //"loam "
		stype = 5; Cecest = 15;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 6){
		vsoiltyp = soilnom[ind]; //"silt loam"
		stype = 6; Cecest = 15;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 7){
		vsoiltyp = soilnom[ind]; //"silt soil"
		stype = 7; Cecest = 20;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 8){
		vsoiltyp = soilnom[ind]; //"silty clay"
		stype = 8; Cecest = 25;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else if(ind == 9){
		vsoiltyp = soilnom[ind]; //"clay loam"
		stype = 9; Cecest = 30;
		NFACT2 = NSOIL[ind]; KFACT2 = KSOIL[ind];
	}else {
		vsoiltyp = soilnom[10] // "unknown"
		stype = 0; Cecest = 20;
		NFACT2 = NSOIL[10]; KFACT2 = KSOIL[10];
	}
  console.log(NFACT2);
  console.log(KFACT2);
	//window.alert(vsoiltyp);
	return true;
}
function set_methodph()
{
	var ind	= form11.methodph.selectedIndex
	if (ind == 0){
	  vmethodph = "pH water";  phmet = 0;
	}else if(ind == 1){
	  vmethodph = "pH Kcl ";  phmet = 1;
	}else if(ind == 2){
	  vmethodph = "pH CaCl2";  phmet = 2;
	}
	return true;
}
function set_ph()
{
  /*if (form11.sph.value == "unknown") ph=7;
  else ph = parseInt(form11.sph.value);
  if (phmet != 0)
  {   ph = ph + 2 ;}
  if (ph < 5.6){
	PFACT2 = PFA[1]; CAFACT2 = CAFA[1] //PH ACID
  }else if (ph < 6.4){
    PFACT2 = PFA[2]; CAFACT2 = CAFA[2] //  ph acidic
  }else if (ph < 7.4){
    PFACT2 = PFA[3]; CAFACT2 = CAFA[3] //  ph neutral
  }else if (ph < 7.8){
    PFACT2 = PFA[2]; CAFACT2 = CAFA[4] //  ph BASIC
  }else if (ph > 7.7){
    PFACT2 = PFA[1]; CAFACT2 = CAFA[5] //  ph very BASIC
  }else{
    PFACT2 = PFA[3]; CAFACT2 = CAFA[3] //  ph unknown
  }*/
     ph = parseInt(form11.sph.value);
     if(ph == 0 || ph > 9.9 || ph < 2)
     {
       ph = 7; //TxtpH.Text = 7
       form11.sph.value = 7;
       window.alert("error : pH out of range ?!!");
     }


    //'OVER MEHACOMBO
    if(phmet == 0) ph = ph;
    else if (phmet == 1) ph = ph + 0.2;
    else if (phmet == 2) ph = ph + 0.2;

    //PH OF SOIL
     if (ph < 5)
     {
             //Labph.Caption = "very acidic"
             PFACT2 = PFA[1]; CAFACT2 = CAFA[1]; //PH ACID
      }
      else if (ph < 6)
      {
             //Labph.Caption = "acidic +"
             PFACT2 = PFA[1]; CAFACT2 = CAFA[1];  // ph acidic +
      }
      else if (ph < 6.6)
      {
             //Labph.Caption = "acidic -"
             PFACT2 = PFA[2]; CAFACT2 = CAFA[2];  //ph acidic +
      }
      else if (ph < 7.4)
      {
             //Labph.Caption = "neutral"
             PFACT2 = PFA[3]; CAFACT2 = CAFA[3];  //ph neutral
      }
      else if (ph < 7.8)
      {
             //Labph.Caption = "basic"
             PFACT2 = PFA[2]; CAFACT2 = CAFA[4];  //ph BASIC
       }
       else if (ph > 7.7)
       {
             //Labph.Caption = "basic+"
             PFACT2 = PFA[1]; CAFACT2 = CAFA[5];  //ph very BASIC
       }
      else
      {
             PFACT2 = PFA[3]; CAFACT2 = CAFA[3];  //ph unknown
      }
}
//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF" style="margin: 0px;" background="../images/home_bgr.gif" vLink=green link=red alink=black>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="166" valign="top">
    <!--  Start left menu -->
    	<table border="0" width="166" cellspacing="0" cellpadding="0">
		<tr height="10">
          <td  colspan="2"><a name=d1></a></td>
        </tr>
		<tr>
			<td align="left" width=85%>&nbsp;&nbsp;&nbsp;<a href="#d1" class="left_menu" onclick="return show_list(1);"><!--Vegetables-->Vegetables</a></td>
			<TD align="left" valign=middle width=15%><a href="#d1" class="left_menu" onclick="return show_list(1);"><IMG id=img1 SRC="../images/arrow_pass_link.gif" border="0"></a></TD>
        </tr>
        <tr><td height="5" colspan="2"></td></tr>
        <tr id=tr_1 style="display:block">
			<td colspan="2">
				&nbsp;&nbsp;<SELECT size=8 id=select1 name=select1 class="menu_crops" onclick="go_crop(1,this)">

					<OPTION value=19>&nbsp;beans</OPTION>

					<OPTION value=18>&nbsp;broccoli</OPTION>

					<OPTION value=20>&nbsp;cabbage</OPTION>

					<OPTION value=7>&nbsp;carrot</OPTION>

					<OPTION value=12>&nbsp;celery</OPTION>

					<OPTION value=4>&nbsp;cucumber</OPTION>

					<OPTION value=10>&nbsp;eggplant</OPTION>

					<OPTION value=16>&nbsp;garlic</OPTION>

					<OPTION value=8>&nbsp;leek</OPTION>

					<OPTION value=13>&nbsp;lettuce</OPTION>

					<OPTION value=5>&nbsp;melon</OPTION>

					<OPTION value=3>&nbsp;onions</OPTION>

					<OPTION value=9>&nbsp;peas</OPTION>

					<OPTION value=2 selected>&nbsp;pepper</OPTION>

					<OPTION value=14>&nbsp;potatoes</OPTION>

					<OPTION value=15>&nbsp;radish</OPTION>

					<OPTION value=11>&nbsp;squash</OPTION>

					<OPTION value=17>&nbsp;strawberry</OPTION>

					<OPTION value=1>&nbsp;tomatoes</OPTION>

					<OPTION value=6>&nbsp;watermelon</OPTION>

				 </SELECT>
			</td>
        </tr>
        <!--tr>
          <td height="5" colspan="2"></td>
        </tr-->
        <tr>
          <td bgcolor="#028D00" height="1" colspan="2"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
        <tr>
			<td>&nbsp;&nbsp;&nbsp;<a href="#d1" class="left_menu" onclick="return show_list(2);"><!--Field crops-->Field crops</a></td>
			<TD align="left" valign=middle width=15%><a href="#d1" class="left_menu" onclick="return show_list(2);"><IMG id=img2 SRC="../images/arrow_pass_link.gif" border="0"></a></TD>
        </tr>
        <tr><td height="5" colspan="2"></td></tr>
        <tr id=tr_2 style="display:none">
			<td colspan="2">
				&nbsp;&nbsp;<SELECT size=8 id=select2 name=select2 class="menu_crops" onclick="go_crop(2,this)">

					<OPTION value=18>&nbsp;alfalfa</OPTION>

					<OPTION value=8>&nbsp;barley</OPTION>

					<OPTION value=17>&nbsp;beans-dry</OPTION>

					<OPTION value=19>&nbsp;beans-snap</OPTION>

					<OPTION value=15>&nbsp;canola rape-seed</OPTION>

					<OPTION value=5>&nbsp;chickpea</OPTION>

					<OPTION value=4>&nbsp;cotton</OPTION>

					<OPTION value=6>&nbsp;maize</OPTION>

					<OPTION value=7>&nbsp;peanut</OPTION>

					<OPTION value=2>&nbsp;peas</OPTION>

					<OPTION value=16>&nbsp;pineapple</OPTION>

					<OPTION value=14>&nbsp;potatoes</OPTION>

					<OPTION value=10>&nbsp;rice</OPTION>

					<OPTION value=12>&nbsp;sorghum</OPTION>

					<OPTION value=13>&nbsp;soy-bean</OPTION>

					<OPTION value=11>&nbsp;sugar-beet</OPTION>

					<OPTION value=20>&nbsp;sugarcane</OPTION>

					<OPTION value=3>&nbsp;sunflower</OPTION>

					<OPTION value=9>&nbsp;tobacco</OPTION>

					<OPTION value=1>&nbsp;wheat</OPTION>

				 </SELECT>
			</td>
        </tr>
        <!--tr>
          <td height="10" colspan="2"></td>
        </tr-->
        <tr>
          <td bgcolor="#028D00" height="1" colspan="2"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
        <tr>
			<td>&nbsp;&nbsp;&nbsp;<a href="#d1" class="left_menu" onclick="return show_list(3);"><!--Orchards-->Orchards</a></td>
			<TD align="left" valign=middle width=15%><a href="#d1" class="left_menu" onclick="return show_list(3);"><IMG id=img3 SRC="../images/arrow_pass_link.gif" border="0"></a></TD>
        </tr>
        <tr><td height="5" colspan="2"></td></tr>
        <tr id=tr_3 style="display:none">
			<td colspan="2">
				&nbsp;&nbsp;<SELECT size=8 id=select3 name=select3 class="menu_crops" onclick="go_crop(3,this)">

					<OPTION value=6>&nbsp;almond</OPTION>

					<OPTION value=11>&nbsp;apple</OPTION>

					<OPTION value=16>&nbsp;apricot</OPTION>

					<OPTION value=2>&nbsp;cherry</OPTION>

					<OPTION value=21>&nbsp;fig</OPTION>

					<OPTION value=7>&nbsp;grapefruit</OPTION>

					<OPTION value=12>&nbsp;grapes-table</OPTION>

					<OPTION value=13>&nbsp;grapes-wine</OPTION>

					<OPTION value=22>&nbsp;hazelnut</OPTION>

					<OPTION value=8>&nbsp;lemon</OPTION>

					<OPTION value=19>&nbsp;nectarine</OPTION>

					<OPTION value=9>&nbsp;olive</OPTION>

					<OPTION value=15>&nbsp;orange</OPTION>

					<OPTION value=18>&nbsp;peach</OPTION>

					<OPTION value=10>&nbsp;pear</OPTION>

					<OPTION value=14>&nbsp;pecan</OPTION>

					<OPTION value=1>&nbsp;pistachio</OPTION>

					<OPTION value=4>&nbsp;pomegrenate</OPTION>

					<OPTION value=20>&nbsp;prune</OPTION>

				 </SELECT>
			</td>
        </tr>
        <!--tr>
          <td style='height:"10"' colspan="2"></td>
        </tr-->
        <tr>
          <td bgcolor="#028D00" height="1" colspan="2"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
        <tr>
			<td>&nbsp;&nbsp;&nbsp;<a href="#d1" class="left_menu" onclick="return show_list(4);"><!--Subtropical crops-->Sub-tropical</a></td>
			<TD align="left" valign=middle width=15%><a href="#d1" class="left_menu" onclick="return show_list(4);"><IMG id=img4 SRC="../images/arrow_pass_link.gif" border="0"></a></TD>
        </tr>
        <tr><td height="5" colspan="2"></td></tr>
        <tr id=tr_4 style="display:none">
			<td colspan="2">
				&nbsp;&nbsp;<SELECT size=8 id=select4 name=select4 class="menu_crops" onclick="go_crop(4,this)">

					<OPTION value=1>&nbsp;avocado</OPTION>

					<OPTION value=5>&nbsp;banana</OPTION>

					<OPTION value=22>&nbsp;coconut</OPTION>

					<OPTION value=17>&nbsp;coffee</OPTION>

					<OPTION value=20>&nbsp;custard apple</OPTION>

					<OPTION value=12>&nbsp;date palm</OPTION>

					<OPTION value=3>&nbsp;durian</OPTION>

					<OPTION value=9>&nbsp;guava</OPTION>

					<OPTION value=11>&nbsp;jackfruit</OPTION>

					<OPTION value=21>&nbsp;kiwi</OPTION>

					<OPTION value=6>&nbsp;litchi</OPTION>

					<OPTION value=10>&nbsp;longkong</OPTION>

					<OPTION value=24>&nbsp;macadamia</OPTION>

					<OPTION value=13>&nbsp;mango</OPTION>

					<OPTION value=19>&nbsp;oil palm</OPTION>

					<OPTION value=16>&nbsp;papaya</OPTION>

					<OPTION value=23>&nbsp;persimon</OPTION>

					<OPTION value=4>&nbsp;pomegranate</OPTION>

					<OPTION value=2>&nbsp;rambutan</OPTION>

					<OPTION value=14>&nbsp;salak</OPTION>

					<OPTION value=18>&nbsp;saporo</OPTION>

				 </SELECT>
			</td>
        </tr>
        <!--tr>
          <td height="10" colspan="2"></td>
        </tr-->
        <tr>
          <td bgcolor="#028D00" height="1" colspan="2"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>

        <tr>
        <td  valign=bottom colspan="2">&nbsp;&nbsp;<A class="but" href="javascript:openReference()" id=td2><!--Nutrients reference-->Crop-nutrition literature</A></td></tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
        <tr>
          <td bgcolor="#028D00" height="1" colspan="2"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
        </tr>

      </table>
    <!--  end left menu -->
    </td>
    <td valign="top" align="center" width="100%">
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td width="100%" align="right">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
			<td valign="top">


				<table border="0" width="100%" cellspacing="0" cellpadding="0">
					<tr>
						<td height="34" class="step_title" align="left" valign=bottom>&nbsp;&nbsp;&nbsp;<span id=td1><!--Nutrients requirements-->Nutrient requirements</span>
						<font color=#00890D>- <span id="crop_text"></span></font>&nbsp;</td>
						<td width=30 nowrap align=center valign=bottom>

						<input type=image src="../images/info_icon.gif" onclick="window.open('../help/help2.htm','help','toolbar=0,menubar=0,scrollbars=1,width=765,height=480,left=10,top=10')" ID="Image3" NAME="Image3">

						</td>
					</tr>
					<tr>
						<td colspan="3" bgcolor="#028D00" height="1"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
					</tr>
				</table>
			</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td align="left" width="250" nowrap valign=top>
<!-- start code -->

			<TABLE align="left" border="0" cellspacing="1" CELLPADDING=4>
			<TR><TD height=10></TD></TR>

				<TR>
					<TD align="left"  valign=top width=45%>

						<IMG SRC="../crop/vegetab/pepper/pictu/pilpel10.jpg" border=1 hspace=10 width=240>
						<INPUT type="hidden" id=min_ name=min_ value="15">
						<INPUT type="hidden" id=max_ name=max_ value="200">
						<INPUT type="hidden" id=NEXPa name=NEXPa value="2">
						<INPUT type="hidden" id=pexpa name=pexpa value=".6">
						<INPUT type="hidden" id=kexpa name=kexpa value="3.5">
						<INPUT type="hidden" id=caexpa name=caexpa value=".5">
						<INPUT type="hidden" id=mgexpa name=mgexpa value=".3">
						<INPUT type="hidden" id=NPLNTA name=NPLNTA value="1.8">
						<INPUT type="hidden" id=pplnta name=pplnta value=".4">
						<INPUT type="hidden" id=kplnta name=kplnta value="2.3">
						<INPUT type="hidden" id=caplnta name=caplnta value="1.9">
						<INPUT type="hidden" id=mgplnta name=mgplnta value=".5">
						<INPUT type="hidden" id=pfactora name=pfactora value="2">
						<BR>

					</TD>
					<TD width="100%" align=center valign=top>

						<TABLE ALIGN=center border="0" cellspacing="1" CELLPADDING=1>

							<TR>
								<TD class="td_title" align="left" nowrap id=td3><!--Growth method:-->Growth method :</TD>
								<TD align="left" nowrap colspan="2">

									<SELECT class="metods" id=methd name=methd onChange="set_range1(this)">
										<OPTION   value="1">greenhouse</OPTION>
										<OPTION   value="2">tunnels</OPTION>
										<OPTION   value="3">open field</OPTION>
										<OPTION   value="4">processing</OPTION>
									</SELECT>

								</TD>
							</TR>
							<TR>
								<TD class="td_title" align="left" nowrap id=td4><!--Yield range:-->Yield range :</td>
								<td class="td_form" nowrap><input class="txt_flat" style="width=65" id=min_max value="15 - 200" ReadOnly><span id=td15><!--tons/ha-->tons/ha</span></TD>
							</TR>
							<TR>
								<TD class="td_title" align="left" nowrap id=td5><!--Expected Yield:-->Expected Yield :</TD>
								<TD class="td_form" align="left" nowrap>
								<INPUT class="txt_yield" type="text" id=yield name=yield  style="width:60;text-align:center;" value="" onChange="return yieldChange()">&nbsp;&nbsp;<span id=td16><!--tons/ha-->tons/ha</span></TD>
							    <TD colspan="2" align=center>&nbsp;<INPUT class="but" TYPE="BUTTON" id=button1 name=button1 Onclick="return set_numbers()" value="Enter"></TD></TR>
							<FORM action="nutrients.asp?addnpk=1" method=POST id=form1 name=form1 onsubmit="return get_names()">
							<TR>

							</TR>
						</TABLE>


						<HR size=1 width="100%" color=#028D00>
						<TABLE align="left" border="0" cellspacing="1" CELLPADDING=1>
							<TR><TD class="table_title" align=center colspan=5 nowrap id=td6><!--Nutrients requirements (kg/ha)-->Nutrients requirements (kg/ha)</TD></TR>
							<TR>
								<Td class="cell_header" align=center>N<INPUT type="hidden" id=npkgenId name=npkgenId value=""></Td>
								<Td class="cell_header" align=center>P<SUB>2</SUB>O<SUB>5</SUB> <INPUT type="hidden" id=cult name=cult value=""></Td>
								<Td class="cell_header" align=center>K<SUB>2</SUB>O<INPUT type="hidden" id=yiv name=yiv value=""></Td>
								<Td class="cell_header" align=center>CaO<INPUT type="hidden" id=nmethod name=nmethod value=""></Td>
								<Td class="cell_header" align=center>MgO<INPUT type="hidden" id=pfacto name=pfacto value=""><INPUT type="hidden" id=segment name=segment value=""><INPUT type="hidden" id=cropId name=cropId value="2"></Td>
							</TR>
							<TR><TD class="td_title" align=center colspan=5 nowrap id=td7><!--Removal by yield-->Removal by yield</TD></TR>
							<TR>
								<TD><INPUT class="removal" type="text" id=NEXP name=NEXP value="" size=10 readonly></TD>
								<TD><INPUT class="removal" type="text" id=P2O5EXP name=P2O5EXP value="" size=10 readonly></TD>
								<TD><INPUT class="removal" type="text" id=K20EXP name=K20EXP value="" size=10 readonly></TD>
								<TD><INPUT class="removal" type="text" id=CAOEXP name=CAOEXP value="" size=10 readonly></TD>
								<TD><INPUT class="removal" type="text" id=MGOEXP name=MGOEXP value="" size=10 readonly></TD>
							</TR>
							<TR><TD class="td_title" align=center colspan=5 nowrap id=td8><!--Uptake by whole plants-->Uptake by whole plants</TD></TR>
							<TR>
								<TD><INPUT class="uptake" type="text" id=NUPTK name=NUPTK value="" size=3 readonly></TD>
								<TD><INPUT class="uptake" type="text" id=P2O5UPTK name=P2O5UPTK value="" size=3 readonly></TD>
								<TD><INPUT class="uptake" type="text" id=K2OUPTK name=K2OUPTK value="" size=3 readonly></TD>
								<TD><INPUT class="uptake" type="text" id=CAOUPTK name=CAOUPTK value="" size=3 readonly></TD>
								<TD><INPUT class="uptake" type="text" id=MGOUPTK name=MGOUPTK value="" size=3 readonly></TD>
							</TR>

							<TR><TD class="td_title" align=center colspan=5 nowrap id=td13><!--Available nutrients from recycled previous crop-->Available nutrients from recycled previous crop</TD></TR>
							<TR>
								<TD><INPUT class="toapply" type="text" id=Nprev name=Nprev value="" size=3 onChange="return getNumbers(this)"></TD>
								<TD><INPUT class="toapply" type="text" id=Pprev name=Pprev value="" size=3 onChange="return getNumbers(this)"></TD>
								<TD><INPUT class="toapply" type="text" id=Kprev name=Kprev value="" size=3 onChange="return getNumbers(this)"></TD>
								<TD><INPUT class="toapply" type="text" id=Caprev name=Caprev value="" size=3 onChange="return getNumbers(this)"></TD>
								<TD><INPUT class="toapply" type="text" id=Mgprev name=Mgprev value="" size=3 onChange="return getNumbers(this)"></TD>
							</TR>
							<TR><TD class="td_title" align=center colspan=5 nowrap id=td9><!--Recommended application rates (default)-->Recommended application rates (default)</TD></TR>
							<TR>
								<TD><INPUT class="toapply" type="text" id=NREC name=NREC value="" size=3></TD>
								<TD><INPUT class="toapply" type="text" id=P2O5REC name=P2O5REC value="" size=3></TD>
								<TD><INPUT class="toapply" type="text" id=K2OREC name=K2OREC value="" size=3></TD>
								<TD><INPUT class="toapply" type="text" id=CAOREC name=CAOREC value="" size=3></TD>
								<TD><INPUT class="toapply" type="text" id=MGOREC name=MGOREC value="" size=3></TD>
							</TR>
							<TR id=title_units style="display:none">
							<TD class="td_title" align=center colspan=5 nowrap id=td_apply></TD></TR>
							<TR id=other_unit style="display:none">
								<TD><INPUT class="units" type="text" id=NUN name=NUN value="" size=3 readonly></TD>
								<TD><INPUT class="units" type="text" id=P2O5UN name=P2O5UN value="" size=3 readonly></TD>
								<TD><INPUT class="units" type="text" id=K2OUN name=K2OUN value="" size=3 readonly></TD>
								<TD><INPUT class="units" type="text" id=CAOUN name=CAOUN value="" size=3 readonly></TD>
								<TD><INPUT class="units" type="text" id=MGOUN name=MGOUN value="" size=3 readonly></TD>
							</TR>
						</TABLE>

						</TD>
				</TR>

				<tr>
				<td></td>
					<td align="center"><table cellpadding="0" cellspacing="0" width="100%" align="center" border="0">
					</table>
					</td>
				</tr>
				</form>
			</table>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
           <tr>
            <td width="100%" align="right">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
    			<td valign="top">
    				<table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">

    				<tr>
    					<td width="100%" bgcolor="#028D00" height="1" colspan="4"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
    				</tr>
    				</table>
    			</td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td width="100%" align="center" height="300" valign="top">
    		<!-- start code -->
    			<TABLE width="100%" align="left" border="0" cellspacing="0" CELLPADDING=0>
    				<TR><TD colspan="3" height="10"></TD></TR>
    				<TR>
    					<TD width="15" nowrap></TD>
    					<TD align="left" valign="top">
    					<FORM action="soil.asp?savesoil=1" method="POST" id="form11" name="form11">
    						<TABLE align="left" border="0" cellspacing="0" CELLPADDING=0 width="100%">
    							<TR style="display:inline">
    								<TD class="td_title" align="left" nowrap><span id=title4><!--Expected rainfall :-->Expected rainfall:</span></TD>
    								<TD align="left">
    								<SELECT class="metods" id="clima" name="clima" onchange="return set_climat()" style="width: 170px">

    								<OPTION value="unknown">select</OPTION>
    								<OPTION value="desertic" >desert <100 mm</OPTION>
    								<OPTION value="semi-arid" >semi-arid <250 mm</OPTION>
    								<OPTION value="mediteran." >250< med. <700 mm</OPTION>
    								<OPTION value="rainy" >rainy >700 mm</OPTION>
    								<OPTION value="tropical" >tropical >1500 mm</OPTION>

    								</SELECT>
    								</TD>
    							</TR>
    							<TR>
    								<TD class="td_title" align="left"><span id=title5><!--Soil type :-->Select soil type:</span></TD>
    								<TD align="left">
    									<SELECT class="metods" id=soiltyp name=soiltyp onchange="return set_soiltype()" style="width: 170px">

    									<OPTION value="unknown">select</OPTION>
    									<OPTION   value="clay soil">clay</OPTION>
    									<OPTION value="sandy clay" >sandy clay</OPTION>
    									<OPTION value="sandy loam" >sandy loam</OPTION>
    									<OPTION value="sandy soil" >sandy</OPTION>
    									<OPTION value="loam" >loam</OPTION>
    									<OPTION value="silt loam" >silt loam</OPTION>
    									<OPTION value="silt soil" >silt</OPTION>
    									<OPTION value="silty clay" >silty clay</OPTION>
    									<OPTION value="clay loam" >clay loam</OPTION>

    									</SELECT>
    								</TD>
    							</TR>
    							<TR style="display:inline">
    								<TD class="td_title" align="left"><span id=title6><!--Extraction method  <br>for pH measurement :-->Extraction method<br> for pH measurement :</span></TD>
    								<TD align="left" valign="bottom">
    								<SELECT class="metods" id=methodph name=methodph onchange="return set_methodph()" style="width: 100px">

    								<OPTION value="pH water"  >water</OPTION>
    								<OPTION value="pH KCl" >KCl</OPTION>
    								<OPTION value="pH CaCl2" >CaCl2</OPTION>

    								</SELECT>
    								</TD>
    							</TR>
    							<TR style="display:inline">
    								<TD class="td_title" align="left"><span id=title7><!--pH value :-->pH value :</span></TD>
    								<TD align="left"  valign="bottom">
    									<SELECT class="metods" id=sph name=sph onchange="return set_ph()" style="width: 170px">

    									<OPTION value="unknown">select</OPTION>
    									<OPTION value="4.5" > < 5 very acidic</OPTION>
    									<OPTION value="5.5" > 5 - 6 acidic+</OPTION>
    									<OPTION value="6.3" > 6 - 6.6 acidic</OPTION>
    									<OPTION value="7"   > 6.6 - 7.4 neutral</OPTION>
    									<OPTION value="7.6" > 7.4 - 7.8 basic</OPTION>
    									<OPTION value="8"   > basic >7.7 </OPTION>

    									</SELECT>
    								</TD>
    							</TR>
    							<TR><TD align="center" colspan="2" height="10"></TR>
    							<TR>
    							<TD colspan="2" align="left"><INPUT class="but" type="button" value="Update recommendatio" id=button5 name=button5 onclick="return set_numbers2();" style="width: 160px;"></TD>
    							</TR>
    							<TR><TD align="center" colspan="2" height="10"></TR>
    							<TR><TD align="left" colspan="2"><a name="recom_table"></a><a href="#recom_table" id="to_rectable" target=_self></a>
    								<TABLE align="left" border="0" cellspacing="0" cellpadding="1">
    									<TR><TD class="table_title" align="center" colspan="5"><span id=title8><!--Amended recommendation (kg/ha)-->Updated recommendation (kg/ha)</span></TD></TR>
    									<TR>
    										<Td class="cell_header" align="center">N<INPUT type="hidden" id=npkgenId name=npkgenId value=""></Td>
    										<Td class="cell_header" align="center">P<SUB>2</SUB>O<SUB>5</SUB> <INPUT type="hidden" id=cult name=cult value=""></Td>
    										<Td class="cell_header" align="center">K<SUB>2</SUB>O<INPUT type="hidden" id=yiv name=yiv value=""></Td>
    										<Td class="cell_header" align="center">CaO<INPUT type="hidden" id=nmethod name=nmethod value=""></Td>
    										<Td class="cell_header" align="center">MgO<INPUT type="hidden" id=pfacto name=pfacto value=""><INPUT type="hidden" id=segment name=segment value=""><INPUT type="hidden" id=cropId name=cropId value="17"></Td>
    									</TR>
    									<TR><TD class="td_title" align="center" colspan="5"><span id=title10><!--To apply-->Recommended rates (kg/ha)</span></TD></TR>
    									<TR>
    										<TD><INPUT class="removal" type="text" id="NREC2" name="NREC2" value="" size=3 readonly></TD>
    										<TD><INPUT class="removal" type="text" id="P2O5REC2" name="P2O5REC2" value="" size=3 readonly></TD>
    										<TD><INPUT class="removal" type="text" id="K2OREC2" name="K2OREC2" value="" size=3 readonly></TD>
    										<TD><INPUT class="removal" type="text" id="CAOREC2" name="CAOREC2" value="" size=3 readonly></TD>
    										<TD><INPUT class="removal" type="text" id="MGOREC2" name="MGOREC2" value="" size=3 readonly></TD>
    									</TR>
    								</TABLE>
    							</TR>
    							<tr><td height="20" nowrap></td></tr>
    						</table>
    					</TD>
    					<TD valign="top"><TABLE cellpadding="0" cellspacing="0" width="100%" border="0">
    					<TR>
    					<TD align="left" valign="top" nowrap>

    					</TD></TR>
    			   </TABLE></td>
    		     </TR>
    			<tr>
    				<td width="100%" height="10" colspan="3"></td>
    			</tr>
    			<tr>
    				<td width="100%" bgcolor="#028D00" height="1" colspan="3"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
    			</tr>
    			<tr>
    				<td width="100%" height="10" colspan="3"></td>
    			</tr>
    			<tr><td align="right" colspan="2">
    			<table cellpadding="0" cellspacing="0" width="95%" border="0" align="right">
    			<tr>
    			<td align="left" width="50%"><INPUT class="left_button" type="button" ID="btnReturn" NAME="btnReturn"
    				onclick="document.location.href='../npk/nutrients.asp'" value="Back"	></td>
    			<td align="right" width="50%"><INPUT class="right_button" type="button" value="Continue" style="display:none;" id=button4 name=button4  onclick="return Savesoil_fnc();"></td></tr>
    			</table>
    			</td></tr>
    		 	<TR><TD height="5" nowrap></TD></TR>
    		  </TABLE>
    	    </FORM>
    		<!-- end code -->
        </table>
		<!-- end code -->
        </td>
      </tr>
      <tr>
        <td width="100%" height="5" colspan="4"></td>
      </tr>
	  <tr>
		<td width="100%" bgcolor="#028D00" height="1" colspan="4"><img src="../images/line.gif" WIDTH="5" HEIGHT="1"></td>
	  </tr>
	  <tr>
		<td width="100%" height="5" colspan="4"></td>
	  </tr>
      <tr>
        <td width="100%" colspan="4" class="red_td" style="text-align:left;padding-left:15px">
        </td>
      </tr>
      <tr>
        <td width="100%" height="5" colspan="4"></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<script language="javascript" type="text/javascript">
<!--

  set_range0();
	if (datab == 1)
	{
		set_range1(methd);
	}
	else if(datab==3 || datab==4)
	{
		set_range2(methd);
	}



  sel = document.getElementById('select1');
  sel.value = {{ crop_id }};
  document.getElementById('crop_text').innerHTML = sel.options[sel.selectedIndex].text;
//-->
</script>

</body>
</html>
