{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table/css/main.css' %}">
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<div class="messages alert {{ message.tags }} alert-dismissible" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% else %}
			<div class="wrap-table100">
				<div class="table100 ver3 m-b-110">
					<table data-vertable="ver3">
						<thead>
							<tr class="row100 head">
                {% for T in Date %}
                  <th class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</th>
                {% endfor %}
							</tr>
						</thead>
						<tbody>
							<tr class="row100">
                {% for T in Tmax %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

							<tr class="row100">
                {% for T in Tavg %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

							<tr class="row100">
                {% for T in Tmin %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

              <tr class="row100">
                {% for T in Umax %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

              <tr class="row100">
                {% for T in Uavg %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

              <tr class="row100">
                {% for T in Umin %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

              <tr class="row100">
                {% for T in RHmax %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

              <tr class="row100">
                {% for T in RHavg %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

							<tr class="row100">
                {% for T in RHmin %}
                  <td class="column100 column{{ forloop.counter }}" data-column="column{{ forloop.counter }}">{{ T }}</td>
                {% endfor %}
							</tr>

						</tbody>
					</table>
				</div>
			</div>
  <script src="{% static 'table/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'table/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'table/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'table/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'table/js/main.js' %}"></script>
	{% endif %}


</body>
